<div class="col-md-5 col-md-offset-1">
  <label class="optional">Universidad</label>
  <select id="universities_ids" name="universities_ids[]" data-type="select2" multiple="multiple">
    <% @universities.order(name: :asc).each do |university| %>
      <option value="<%= university.id %>" <%= selected2?( params[:universities_ids], university.id ) %> ><%= university.name %></option>
    <% end %>
  </select>
</div>
<div class="col-md-5">
  <label class="optional">Carrera</label>
  <select id="careers_ids" name="careers_ids[]" data-type="select2" multiple="multiple">
    <% @careers.order(name: :asc).each do |career| %>
      <option value="<%= career.id %>" <%= selected2?( params[:careers_ids], career.id ) %> ><%= career.name %></option>
    <% end %>
  </select>
</div>

<script>
  select_2_loader();
</script>