<div class="search">
  <div class="row text-center">
    <h1>Filtra tu búsqueda</h1>
  </div>
  <div class="col-md-12">
    <form action="<%= client_search_path %>">
      <div class="row">
        <input type="hidden" name="search" value="1">
        <div class="col-md-5 col-md-offset-1 choose_bd">
        <label class="optional">Dónde deseas buscar</label>
          <span class="radio">
            <label>Entre mis postulantes
              <input type="radio" name="where_search" checked="checked" value="1" <%= is_checked?(params[:where_search], "1") %> >
            </label>
          </span>
          <span class="radio">
            <label>Base de Datos FirstJob
              <input type="radio" name="where_search" value="2" <%= is_checked?(params[:where_search], "2") %> >
            </label>
            </span>
        </div>
        <div class="col-md-5 job_looking_for">
          <label class="optional">Tipo de oferta</label>
          <span class="checkbox">
            <label>Práctica
              <input type="checkbox" name="looking_for[]" value="1" <%= is_checked?(params[:looking_for].present?, true) %>>
            </label>
          </span>
          <span class="checkbox">
            <label>Memoria
              <input type="checkbox" name="looking_for[]" value="2"  <%= is_checked?(params[:looking_for].present?, true) %>>
            </label>
          </span>
          <span class="checkbox">
            <label>Trabajo
              <input type="checkbox" name="looking_for[]" value="3"  <%= is_checked?(params[:looking_for].present?, true) %>>
            </label>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1 job_career_status">
          <label class="optional">Tipo de postulante</label>
          <span class="checkbox">
            <label>Estudiante
              <input type="checkbox" name="is_student" value="1" <%= is_checked?(params[:is_student].present?, true) %>>
            </label>
          </span>
          <span class="checkbox">
            <label>Egresado
              <input type="checkbox" name="is_graduate" value="1"  <%= is_checked?(params[:is_graduate].present?, true) %>>
            </label>
          </span>
          <span class="checkbox">
            <label>Titulado
              <input type="checkbox" name="is_qualified" value="1"  <%= is_checked?(params[:is_qualified].present?, true) %>>
            </label>
          </span>
        </div>
        <div class="col-md-5">
          <label class="optional">Paises</label>
          <select  class="form-control" id="countries_ids" name="country_ids[]" data-type="select2" multiple="multiple">
            <% @countries.each do |country| %>
                <option value="<%= country.id %>" <%= selected2?( params[:country_ids], country.id ) %> ><%= country.name %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1 english_level">
          <label class="optional">Nivel de inglés</label>
          <span class="radio">
            <label>Basico
              <input type="radio" name="english_level" value="1" <%= is_checked?(params[:english_level],  "1") %>>
            </label>
          </span>
          <span class="radio">
            <label>Intermedio
              <input type="radio" name="english_level" value="2" <%= is_checked?(params[:english_level], "2") %>>
            </label>
          </span>
          <span class="radio">
            <label>Avanzado
              <input type="radio" name="english_level" value="3" <%= is_checked?(params[:english_level], "3") %>>
            </label>
          </span>
          <span class="radio">
            <label>Nativo
              <input type="radio" name="english_level" value="4" <%= is_checked?(params[:english_level], "4") %>>
            </label>
          </span>
        </div>
        <div class="col-md-5 excel_level">
          <label class="optional">Nivel de excel</label>
          <span class="radio">
            <label>
              <input type="radio" name="excel_level" value="0" <%= is_checked?(params[:excel_level], "0") %>> No aplica
            </label>
          </span>
          <span class="radio">
            <label>
            <input type="radio" name="excel_level" value="1" <%= is_checked?(params[:excel_level], "1") %>> Básico
            </label>
          </span>
          <span class="radio">
            <label>
            <input type="radio" name="excel_level" value="2" <%= is_checked?(params[:excel_level], "2") %>> Intermedio
            </label>
          </span>
          <span class="radio">
            <label>
              <input type="radio" name="excel_level" value="3" <%= is_checked?(params[:excel_level], "3") %>> Avanzado
            </label>
          </span>
        </div>
      </div>
      <div class="hidden">
      <p>Experiencia</p>
      <input type="radio" name="years_experience" title="Menos de un año" value="1" <%= is_checked?(params[:years_experience], "1") %>> Sin experiencia
      <input type="radio" name="years_experience" value="2" <%= is_checked?(params[:years_experience], "2") %>> 1 año
      <input type="radio" name="years_experience" value="3" <%= is_checked?(params[:years_experience], "3") %>> 2 años o más
      </div>
      <div class="hidden">
      <label>Año que cursa</label>
      <% 6.times do |year|%>
          <input type="radio" name="age_study" <%= is_checked?(params[:age_study], "#{year + 1}") %> value="<%= year + 1 %>"> <%= year + 1 %> |
      <% end %>
      </div>
      <div class="row">
        <div id="universities_careers">
          <%= render "client/search/universities_careers" %>
        </div>
      </div>
      <div class="row text-center">
        <button type="submit" class="btn btn-default">Buscar</button>
      </div>
    </form>
  </div>

  <% @accounts.each do |account| %>
  <% if account.user.present? %>
  <% @user = account.user %>
  <%= render "client/process/user_card"%>
  <div class="space-10"></div>
  <% end %>
  <% end %>


<% if @accounts.present? %>
<div class="row">
  <div class="col-md-12 text-center pagination-bta body-bta-center">
    <%= will_paginate @accounts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<% end %>

<div class="display-resume-block"></div>

</div>