/* Estilos Principales Plataforma Cliente First Job */
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,400italic,300);

html{
    font-size: 10px;
}


body {
    font-family: 'Lato', sans-serif;
    background-color: #4B4A80;
    padding-top: 51px;
}

a {
    color: #fff;
    text-decoration: none;
}
a:focus, a:hover {
    color: #fff;
}

.space-10{
    height:10px;
}
.space-20{
    height:20px;
}
.space-30{
    height:30px;
}
.space-40{
    height:40px;
}
.space-50{
    height:50px;
}
.space-60{
    height:60px;
}
.space-70{
    height:70px;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 1000px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 170px;
        border-left: 1px solid #e7e7e7;
    }
}

.center-columnas{
    float: none;
}

.page-header {
    padding-bottom: 9px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-bottom: 1px solid #eee;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.navbar-default {
    background-color: #3E3D68;
    border-color: #3E3D68;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    /*border-bottom: 1px solid #E1705B;*/
    font-weight: 300;
}

.sidebar ul li a.active {
    background-color: #E1705B;
}

.sidebar ul li a:hover {
    background-color: #E1705B;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 170px;
        margin-top: 51px;
        background: #4B4A80;
        border-color: #4B4A80;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.col-process-menu{
    position: relative;
    padding-left: 170px;
    padding-right: 0px;
    background: #F2F2F2;
    height: 53px;
    border-color: #F2F2F2;
    border-radius: 0px !important;
    /*box-shadow: 1px .5px 10px #000; */
}

.process-menu{
    height: 53px; 
}

/*.process-nav{
    padding-left: 0px;
    padding-right: 0px;
}*/

.navbar {
    border-radius: 4px;
}

.process-nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    border-radius: 0px;
    color: #4B4A80;
    text-decoration: none;
    font-weight: 700;
}

.process-nav>li>a:focus, .process-nav>li>a:hover {
    text-decoration: none;
    border-bottom: 3px solid #E1705B;
}

.nav-tabs.nav-justified>li>a {
    border-radius: 0px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom: 3px solid #E1705B;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    cursor: default;
    border-bottom: 3px solid #E1705B;
    border-bottom-color: #F2F2F2;
}

/*.btn {
     border-radius: 0px; 
}*/

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -0px;
}

.justificado{
    display: table-cell;
    float: none;
    width: 20%;
    border-radius: 0px; 
    background-color: #79B6EA;
    color: #fff;
}

.justificado .btn-default:hover{
    color: #fff;
    background-color: #E1705B;
}

.btn-default {
    border-color: transparent;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel {
    margin-bottom: 8px;
    border-radius: 0px;
    border: 1px solid #000;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-footer {
    padding: 0;
    border-top: 0px solid #ddd;
}

.panel-blue {
    border-color: #79B6EA;
    border-left: 7px solid #79B6EA;
}

.panel-blue .panel-heading {
    border-color: #79B6EA;
    color: #727272;
    background-color: #fff;
}

.panel-blue a {
    color: #337ab7;
}

.panel-blue a:hover {
    color: #3352B7;
}


/*Filtros*/

.reset-display{
    display: block;
}

/*Panel Procesos*/

.process-buttons{
    padding-left: .5px;
    padding-top: .8em;
}

.process-buttons>a{
    color: #fff;
}

.process-buttons>a:hover, a:active{
    color: #fff;
}

.process-buttons>.btn{
    padding: 4px 4px;
}

@media(max-width:1024px) {

    .process-buttons>.btn{
    padding: 4px 2px;
}

    .process-buttons>.btn>i{
        padding: 0px;
        font-size: 13px !important; 
    }
}

.process-buttons>.btn>i{
    padding: 0px 1px;
    font-size: 20px;
}

.process-job-badge{
    font-size: 1em;
}

@media(max-width:1024px) {

    .process-job{
    font-weight: 400;
    font-size: 1.2rem !important;
}
}

.process-job{
    font-weight: 700;
    font-size: 1.4rem;
}

.process-map{
    font-weight: 400;
    font-style: italic;
}

.panel-process .panel-heading {
    border-color: #79B6EA;
    color: #727272;
    background-color: #000;
}

.badge {
    background-color: transparent;
    font-weight: 
}

.label-match {
    background-color: #88D38B;
}

.label-nuevos {
    background-color: #3E3D68;
}

.label-totales {
    background-color: #E1705B;
}

.process-title{
    height: 3em;
    background: #4B4A80;
    padding: 10px 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    font-weight: 700;
}

.process-reset-padding{
    padding-top: 1.5em;
    padding-right: .5em;
}


.facebook-sharing{
    background-color: #3b5998;
}

.linkedin-sharing{
    background-color: #007bb5;
}

.button-play{
    color: #88D38B;
}

.button-pause{
    color: #3E3D68;
}

.button-times{
    color: #FF0000;
}

.button-rotate-left{
    color: #E1705B;
}

.border-filter {
    border-color: #B1B1B1;
}

/*DETALLE PROCESO*/

/*.sidebar2 {
    z-index: 1;
    position: absolute;
    width: 170px;
    height: 1000px;
    margin-top: 250px;
    background: #E1705B;
    border-color: #E1705B;
}

.atencion-dudas{
    font-weight: 700;
    padding-top: 12px;
    color: #fff;
}*/

.breadcrumb{
    border-radius: 0px;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: transparent;
}

.breadcrumb>span{
    color: #E1705B;
    font-size: 16px;
}

.breadcrumb>.active{
    color: #E1705B;
}

.breadcrumb>li>a{
    color: #3E3D68;
}

.margin-bread{
    margin-right: 5px;
}

.margin-datos{
    margin-right: 25px;
}

.button-candidato{
    padding-top: 20px;
}

.reset-padding{
    padding-left: 0px;
}

.reset-padding-right{
    padding-right: 0px;
}

.buttons-width{
    width: 100%
}




/*Estilos Paneles en Detalle*/

.btn-add {
    color: #fff;
    background-color: #3AC1E1;
    border-color: #3AC1E1;
}

.btn-information {
    display: table-cell;
    float: none;
    width: 20%;
    border-radius: 0px; 
    background-color: #3E3D68;
    color: #E7B660;
    font-size: 20px;
}

.panel-complete {
    margin-bottom: 8px;
    border-radius: 0px;
    border: 1px solid #000;
}

.panel-complete-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-complete-footer {
    padding: 0;
    border-top: 0px solid #ddd;
}

.panel-blue-complete {
    border-color: #3E3D68;
}

.panel-blue-complete .panel-complete-heading {
    border-color: #3E3D68;
    color: #727272;
    background-color: #fff;
}

.panel-blue-complete a {
    color: #337ab7;
}

.panel-blue-complete a:hover {
    color: #3352B7;
}


.justificado-complete{
    float: none;
    display: flex;
    border-radius: 0px; 
    color: #fff;
    background-color: #3E3D68;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
}

.justificado-complete-footer{
    display: table-cell;
    float: none;
    width: 20%;
    border-radius: 0px; 
    background-color: #3E3D68;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.justificado-complete>.btn:hover, .btn:active{
    color: #fff;
    background-color: #E1705B;
    border-color: #E1705B;
}

.panel-body-padding{
    padding-bottom: 15px;
}

.body-title{
    font-weight: 900;
    color: #838383;
}

.format-panel-heading{
    height: 70px;
}

.format-labels{
    padding-left: 45px;
}

.format-titles{
    padding-top: 15px;
}

.star-padding{
    padding-right: 10px;
    padding-left: 10px;
    color: #F7D700;
    font-weight: 900;
}

.match-padding{
    color: #88D38B;
    font-weight: 900;
}


.label-referido {
    background-color: #6C86DA;
}

.label-agregado {
    background-color: #88D38B;
}

.label-sugerido {
    background-color: #E1705B;
}

.plus-font{
    font-weight: 700;
}

.fix-check{
    width: 2%;
}

.btn-like {
    color: #DBDBDB;
    /*background-color: #DBDBDB;*/
    border-color: #DBDBDB;
    padding: 0px;
}
    
.text-center>.btn{
    padding: 0px;
}

.text-center>.btn:hover{
    color: #E1705B;
}

.btn-nuevo {
    color: #333;
    background-color: #fff;
    border-color: transparent;
}

.btn-nuevo:hover {
    color: #E1705B;
}

.tag {
  padding: 5px;
  margin: 4px;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}