<h2>El siguiente mensaje fue enviado automáticamente al haberse creado una nueva solicitud de trabajo desde la landing Company</h2>

<p>Nombre compañia: <%= @post_request.company_name %></p>
<p>Tipo de compañia: <%= PostRequest.company_type(@post_request.company_type) %></p>
<p>Tipo de trabajo: <%= PostRequest.job_type(@post_request.looking_for) %></p>
<p>Vacantes: <%= @post_request.vacancies %></p>
<p>Pais: <%= @post_request.location %></p>
<p>Nombre de contacto: <%= @post_request.name %></p>
<p>Email: <%= @post_request.email %></p>
<p>Teléfono: <%= @post_request.phone %></p>
<p>Cargo: <%= @post_request.position %></p>
<p>Descripción: <%= @post_request.description %></p>
<br>
Si quieres ver más detalle de esta solicitud, recuerda de ir al <%= link_to "admin", admin_root_url %>.