
<h2>El siguiente mensaje fue enviado desde el formulario de contacto de la landing Company:</h2>


<br>
Company Name: <%= @message.company_name %>
<br>
Full Name: <%= @message.full_name %>
<br>
Email: <%= @message.email %>
<br>
Position: <%= @message.position %>
<br>
Phone: <%= @message.phone %>
<br>
Body: <%= @message.body %>
<br>