<div class="modal fade display-resume-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="min-height: 550px;">
      <iframe src="https://docs.google.com/viewer?url=<%= u @user.account.resume %>&embedded=true" 
      height="550px" width="100%" style="border: none;">
      </iframe>
    </div>
  </div>
</div>