<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>

<%= link_to "Inicio", root_path %>


<% @jobs.each do |job| %>

<p> <%= link_to "Ver", job_path(job.id) %> | <%= link_to "Ver JSON", job_path(job.id) + ".json" %> | <%= job.id %> | <%= job.title %> | <%= job.description %></p>

<% end %>