<div class="question-<%= @question_key %>">
  <div class="input hidden job_questions_id">
    <input class="hidden" type="hidden" name="job[questions_attributes][<%= @count %>][id]" id="job_questions_attributes_<%= @count %>_id">
  </div>
  <div class="input string optional job_questions_content">
    <input class="string optional" type="text" value="" 
    name="job[questions_attributes][<%= @count %>][content]" id="job_questions_attributes_<%= @count %>_content"
    placeholder="Déjala en blanco, si deseas que no se guarde"
    >
  </div>
  <input value="0" class="destroy-11564" type="hidden" name="job[questions_attributes][<%= @count %>][_destroy]" id="job_questions_attributes_<%= @count %>__destroy">
  <a class="remove-question" data-id="<%= @question_key %>" href="#">X</a>
</div>