<div class="finish-publish">
  <div class="col-md-12 text-center">
    <div class="row">
      <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x"></i>
      </span>
    </div>
    <div class="row title">
        <h1>Has publicado exitosamente!</h1>
    </div>
    <div class="row subtitle">
        <h4>Comparte para tener más éxito en tu búsqueda</h4>
    </div>
    <div class="row shares">
      <div class="col-md-2 col-md-offset-4 btn-fb btn" rel="nofollow"
         href="http://www.facebook.com/"
         onclick="popUp=window.open(
             'http://www.facebook.com/sharer.php?u=https://firstjob.me/jobs/<%= @job.slug %>',
             'popupwindow',
             'scrollbars=yes,width=800,height=400');
             popUp.focus();
             return false">
        <i class="fa fa-facebook" aria-hidden="true"></i>Comparte con Facebook
      </div>
      <div class="btn col-md-2 btn-linkedin" rel="nofollow"
           href="http://www.linkedin.com/"
           onclick="popUp=window.open(
               'http://www.linkedin.com/shareArticle?mini=true&url=https://firstjob.me/jobs/<%= @job.slug %>&title=<%= @job.title %>&source=https://firstjob.me',
               'popupwindow',
               'scrollbars=yes,width=800,height=400');
               popUp.focus();
               return false">
        <i class="fa fa-linkedin" aria-hidden="true"></i>Comparte con Linkedin
      </div>
    </div>
    <div class="row go-process">
      <a href="<%= client_process_index_path %>" class="btn col-md-4 col-md-offset-4">IR A PROCESOS</a>
    </div>

  </div>
</div>