<div class="add_questions">

  <div class="row">
    <div class="col-md-12 text-center">
      <h1>AGREGA PREGUNTAS PARA EL POSTULANTE</h1>
    </div>
  </div>

  <div class="row">
    <form class="form-horizontal" action="<%= client_add_question_path(@job.id) %>" method="POST" data-remote="true">
      <input type="hidden" name="question[job_id]" value="<%= @job.id %>">
      <div class="form-group">
        <div class="col-md-1"></div>
        <div class="col-md-8" style="margin:0;padding:0">
          <input type="text" class="form-control" id="question-content" name="question[content]" placeholder="Escribe aquí tu pregunta">
        </div>
        <div class="col-md-2" style="margin:0;padding:0;">
          <button type="submit" class="btn btn-agregar form-control">Agregar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="questions">
    <% @questions.each_with_index do |question, index| %>
      <div class="row">
        <div class="col-md-1"></div>
        <p class="col-md-8"><%= index + 1 %>.- <%= question.content %></p>
        <button class="btn col-md-1 update-question" data-question-id="<%= question.id %>" data-question-content="<%= question.content %>" >
          <i class="fa fa-pencil"></i>
          Editar
        </button>
        <button type="submit" class="btn col-md-1 delete-question" data-question-id="<%= question.id %>" data-question-content="<%= question.content %>">
          <i class="fa fa-trash-o"></i>
          Borrar
        </button>
      </div>
    <% end %>
  </div>
  <div class="row" style="margin-top:5%;">
    <div class="col-md-4"></div>
    <div class="col-md-2 text-right">
      <a class="btn btn-default form-control" href="<%= client_process_step_3_path %>">Anterior</a>
    </div>
    <div class="col-md-2 text-left">
      <a class="btn btn-default form-control" href="<%= client_process_step_5_path %>">Siguiente</a>
    </div>
  </div>
</div>