<div class="job_preview">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Previsualización</h1>
      </div>
    </div>

    <div class="row" style="margin-top: 2%;">
      <div class="col-md-3" style="background-color:#fff;margin-left:5%;padding:0;">
        <div class="job-company-info">
          <h3 class="job-company-logo" data-src="{{Job.company.avatar.url}}"></h3>
          <h2 class="job-company-title"><%= @job.company.name %></h2>
          <p class="job-company-text"><%= @job.location %></p>
        </div>
        <div class="job-company-rank">
          <div class="job-company-rank-item">
            <img src="http://www.bestfirstjobemployers.com/assets/brand-logo-7da3ae759fe00acc62fb70aa96f6715a30df1e256f7924316d4f1c21602f0c79.png" alt="Best FirstJob Employers" class="job-company-rank-image">
          </div>
          <div class="job-company-rank-item">
            <h4 class="job-company-rank-position"><span >1er</span> <span>Lugar</span></h4>
          </div>
        </div>
        <div class="job-company-navbar">
          <div class="job-company-button">Ver perfil de esta empresa</div>
        </div>
      </div>
      <div class="col-md-8" style="padding:0;">
        <article class="job-cover">
          <div class="job-cover-content">
            <div class="tag-move">
              <h1 class="job-title tag-move"><%= @job.title %></h1>
            </div>

            <span class="job-tag job-tag-info">Trabajo</span>

            <nav class="job-info-box">
              <ul class="job-info">
                <li class="job-info-item  display-resp"><i class="fa fa-calendar fa-lg"></i> 15.06.06</li>
                <li class="job-info-item  display-resp "><i class="fa fa-black-tie fa-lg hidden"></i> </li>
                <li class="job-info-item display-resp "><i class="fa fa-clock-o fa-lg hidden"></i> </li>
                <li class="job-info-item display-resp "><i class="fa fa-dollar fa-lg hidden"></i> </li>
                <li class="job-info-item">

                </li>
                <li class="job-info-item">
                  <div class="job-info-button --secondary">COMPARTIR</div>
                </li>
                <li class="job-info-item">
                  <div class="job-info-button --primary">Postular</div>
                </li>
              </ul>
            </nav>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="job-buttons">
        <p class="pull-right buttons-share-job">
          <div class="buttons-share-job pull-right"><i class="fa fa-trash fa-lg button-color"></i></div>
          <div class="buttons-share-job pull-right"><i class="fa fa-heart fa-lg button-color"></i></div>
        </p>
      </div>
    </div>
    <div>
      <article class="job-content">
        <div class="row">
          <div class="job-column-left">
            <h3 class="job-content-title">Descripción del trabajo</h3>
          </div>
          <div class="job-column-right">
            <p class="job-content-text"><%= @job.description %></p>
          </div>
        </div>
      </article>
    </div>
    <div class="row" style="margin-top:5%;padding-bottom: 3%;">
      <%= simple_form_for @job, :url => client_process_step_5_update_path, remote: true do |f| %>
        <input type="hidden" value="<%= @job %>" name="job"/>
        <input type="hidden" value="<%= @job.id %>" name="job_id"/>
        <input type="hidden" value="1" name="state"/>
        <div class="col-md-4"></div>
        <div class="col-md-2 text-right">
          <a class="btn btn-default form-control" href="<%= client_process_step_4_path %>">Anterior</a>
        </div>
        <div class="col-md-2 text-left">
          <button type="submit" class="btn btn-default form-control">Publicar</button>
        </div>
      <% end %>
    </div>
  </div>
</div>