<div class="basics_filter">
  <h1>FILTROS BÁSICOS</h1>

  <%= simple_form_for @job, :url => client_process_step_2_update_path, remote: true do |f| %>
    <% if @job.id.present? %>
      <input type="hidden" value="<%= @job.id %>" name="job_id"/>
    <% end %>

    <% f.input :career_status,
               label: "TIPO DE POSTULANTE",
               collection: I18n.t(:career_status).invert,
               as: :radio_buttons
    %>

    <div class="row">
      <div class="col-md-6 job_career_status">
        <label class="optional">TIPO DE POSTULANTE</label>
        <% if @job.job_statuscareer.present? %>
          <%= f.simple_fields_for :job_statuscareer do |js| %>
            <% if @job.looking_for != 3 %>
              <span class="checkbox">
                <%= js.check_box :student %>
                <%= js.label :student, Job.career_status[0][0] %>
              </span>
            <% else %>
              <input name="job[job_statuscareer_attributes][student]" type="hidden" value="0">
            <% end %>
            <span class="checkbox">
              <%= js.check_box :graduate %>
              <%= js.label :graduate, Job.career_status[1][0] %>
            </span>
            <% if @job.looking_for == 3 %>
              <span class="checkbox">
                <%= js.check_box :qualified %>
                <%= js.label :qualified, Job.career_status[2][0] %>
              </span>
            <% else %>
                <input name="job[job_statuscareer_attributes][qualified]" type="hidden" value="0">
            <% end %>
          <% end %>
        <% else %>
          <%= f.simple_fields_for :career_status do |js| %>
            <% if @job.looking_for != 3 %>
              <span class="checkbox">
                <%= js.check_box :student %>
                <%= js.label :student, Job.career_status[0][0] %>
              </span>
            <% else %>
              <input name="job[career_status][student]" type="hidden" value="0">
            <% end %>
            <span class="checkbox">
              <%= js.check_box :graduate %>
              <%= js.label :graduate, Job.career_status[1][0] %>
            </span>
            <% if @job.looking_for == 3 %>
              <span class="checkbox">
                <%= js.check_box :qualified %>
                <%= js.label :qualified, Job.career_status[2][0] %>
              </span>
            <% else %>
              <input name="job[career_status][qualified]" type="hidden" value="0">
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 hidden">
      <%= f.input :age_study, label: "AÑO QUE CURSA", collection: [1,2,3,4,5,6], as: :radio_buttons%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 hidden">
      <%= f.input :years_experience, label: "EXPERIENCIA", collection: I18n.t(:years_experience).invert, as: :radio_buttons %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :english_level, label: "NIVEL DE INGLÉS", collection: I18n.t(:english_level).invert, as: :radio_buttons %>
      </div>
      <div class="col-md-6">
        <%= f.input :excel_level, label: "NIVEL DE EXCEL", collection: I18n.t(:excel_level).invert, as: :radio_buttons, class:"form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.association :universities, label: "UNIVERSIDADES", collection: @universities, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
      </div>
      <div class="col-md-6">
        <%= f.association :careers, label: "CARRERAS", collection: @careers, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
      </div>
    </div>
    <% f.input :show_salary,  as: :boolean,  label: "Elegir carreras similares?", label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>

    <div class="row" style="margin-top:5%;padding-bottom: 5%;">
      <div class="col-md-4"></div>
      <div class="col-md-2 text-right">
        <a class="btn btn-default form-control" href="<%= client_edit_step_1_path %>">Anterior</a>
      </div>
      <div class="col-md-2 text-left">
        <button type="submit" class="btn btn-default form-control">Siguiente</button>
      </div>
    </div>

  <% end %>
</div>

