<div class="advanced_filter">
  <h1>Filtros avanzados</h1>

  <div class="row">
    <div class="col-md-12 text-center title">
      <p>SEÑALA EL NIVEL DE IMPORTANCIA DE LA SIGUIENTE INFORMACIÓN.</p>
    </div>
  </div>
  <%= simple_form_for @job, :url => client_process_step_3_update_path, remote: true do |f| %>
    <input type="hidden" value="<%= @job.id%>" name="job_id"/>

    <div class="row">
      <div class="col-md-3 col-md-offset-1 form-label">

      </div>
      <div class="col-md-7">
        <% [0,1,2,3,4,5].each do |u| %>
          <div class="col-md-2 text-center">
            <%= u %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1 form-label">
        <%= f.label :filter_califications, "Promedio de notas" %>
      </div>
      <div class="col-md-7">
        <% f.input :filter_califications, collection: @values,as: :radio_buttons, label: false %>
        <% @values.each do |c| %>
          <div class="col-md-2 text-center">
            <%= radio_button_tag 'job[filter_califications]', c, c==@job.filter_califications , class: "radio_buttons optional"%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1 form-label">
        <%= f.label :filter_califications, "Ayudantías" %>
      </div>
      <div class="col-md-7">
        <% f.input :filter_assistantship, collection: @values,as: :radio_buttons, label: "Ayudantias",
                    label_html: { class: 'form-label' }, input_html: { class: '' } %>
        <% @values.each do |c| %>
            <div class="col-md-2 text-center">
              <%= radio_button_tag 'job[filter_assistantship]', c, c==@job.filter_assistantship , class: "radio_buttons optional"%>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1 form-label">
        <%= f.label :filter_califications, "Actividades extraprogramáticas" %>
      </div>
      <div class="col-md-7">
        <% f.input :filter_extra_activities, collection: @values,as: :radio_buttons, label: "Actividades extraprogramaticas",
                    label_html: { class: 'form-label' }, input_html: { class: '' } %>
        <% @values.each do |c| %>
            <div class="col-md-2 text-center">
              <%= radio_button_tag 'job[filter_extra_activities]', c, c==@job.filter_assistantship , class: "radio_buttons optional"%>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1 form-label">
        <%= f.label :filter_califications, "Actividades de representación estudiantil" %>
      </div>
      <div class="col-md-7">
        <% f.input :filter_student_activities, collection: @values,as: :radio_buttons,  label: "",
                    label_html: { class: 'form-label' }, input_html: { class: '' } %>
        <% @values.each do |c| %>
            <div class="col-md-2 text-center">
              <%= radio_button_tag 'job[filter_student_activities]', c, c==@job.filter_student_activities , class: "radio_buttons optional"%>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1 form-label">
        <%= f.label :filter_califications, "Proyectos universitarios" %>
      </div>
      <div class="col-md-7">
        <% f.input :filter_student_project, collection: @values,as: :radio_buttons,  label: "Proyectos universitarios",
                    label_html: { class: 'form-label' }, input_html: { class: '' } %>
        <% @values.each do |c| %>
            <div class="col-md-2 text-center">
              <%= radio_button_tag 'job[filter_student_project]', c, c==@job.filter_student_project , class: "radio_buttons optional"%>
            </div>
        <% end %>
      </div>
    </div>

    <div class="row" style="margin-top:5%;">
      <div class="col-md-4"></div>
      <div class="col-md-2 text-right">
        <a class="btn btn-default form-control" href="<%= client_process_step_2_path %>">Anterior</a>
      </div>
      <div class="col-md-2 text-left">
        <button type="submit" class="btn btn-default form-control">Siguiente</button>
      </div>
    </div>
  <% end %>
</div>