<%= simple_form_for @job, :url => step1_route(@job), remote: true do |f| %>
<div class="row process_publish" style="padding-top: 7%;">
  <div class="col-sm-12">
    <div class="form-group">
      <% if @job.id.present? %>
      <input type="hidden" value="<%= @job.id %>" name="job_id"></input>
      <% end %>
      <input type="hidden" value="<%= current_company_user.company_id %>" name="job[company_id]">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <%= f.input :looking_for,
                  label: 'TIPO DE OFERTA',
                  collection: I18n.t(:looking_for).invert,
                  as: :radio_buttons
          %>
        </div>
        <div class="col-md-5">
          <%= f.input :location,  as: :string,  label: "UBICACIÓN", label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <%= f.input :show_salary,  as: :boolean,  label: "Mantener renta oculta?", label_html: { class: 'form-label' } %>
          <%= f.label :maximum_salary_offered, "RENTA" , class:"renta", required: true %>
          <%= f.input :maximum_salary_offered, label: false ,as: :string,  label_html: { class: 'form-label' }, input_html: { class: 'form-control' }, required: true %>
        </div>
        <div class="col-md-5">
          <%= f.association :countries, label: "PAÍSES FOCO", collection: @countries, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <%= f.input :vacancies,  as: :string,  label: "VACANTES", label_html: { class: 'form-label' }, input_html: { class: 'form-control' }, required: true %>
        </div>
        <div class="col-md-5">
          <%= f.input :availability, label: "DISPONIBILIDAD", collection: Job::AVAILABILITY.invert , as: :radio_buttons %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= f.input :title,  as: :string,  label: "NOMBRE DEL PROCESO", label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= f.input :description,  as: :text,  label: "AGREGA UNA DESCRIPCIÓN", label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="row" align="center">
        <div class="col-md-5"></div>
        <div class="col-md-2 text-center" style="padding-bottom: 2%;">
          <%= f.button :submit, "Siguiente" , class: "form-control" %>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>