<!-- Panel de Procesos -->
<div class="row">  
  <div class="col-lg-12 col-md-12">
    <div class="panel panel-blue animated fadeIn <%= panel_state(@job.state) %>">
      <div class="panel-heading">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3">
              <div class="process-job"><a href="<%= client_process_show_path @job.id %>"><%= @job.title %>
                <% if is_pendent?(@job.state) %>
                (Pendiente)
                <%end%>
              </a></div>
              <div class="process-job">
                <% matchs = @job.get_matchs_ids %>
                <% count_new = @job.get_new_applicants(current_company_user).count %>
                <% count_total = @job.get_applicants_ids.count %>
                <span class="label label-match">Match <span class="badge"><%= (matchs - @job.get_accepted_ids).count %></span></span>
                <% if count_new > 0 %>
                <span class="label label-nuevos">Nuevos <span class="badge"><%= count_new %></span></span>
                <% end %>
                <span class="label label-totales">Totales <span class="badge"><%= count_total %></span></span>
              </div>
            </div>
            <div class="col-xs-1 tex-right">
              <div class="text-center process-reset-padding"><%= @job.looking_for_name %></div>
            </div>
            <div class="col-xs-2">
              <div class="text-center process-map process-reset-padding"><%= @job.location %></div>
            </div>
            <div class="col-xs-1">
              <div class="text-center process-reset-padding"><%= @job.get_vacancies %></div>
            </div>
            <div class="col-xs-3">
              <div class="text-center process-reset-padding"><%= @job.created_at.strftime("%d/%m/%Y %H:%M") %></div>
            </div>
            <div class="col-xs-2 buttons-job-<%= @job.id %>">
              <%= render "client/process/job_buttons" %>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group justificado" role="toolbar">
        <button id="request_new_candidate-button-<%= @job.id %>" type="button" class="btn btn-default justificado <%= is_disabled?(@job.state) %> <%= is_close?(@job.state) %>" data-toggle="collapse"
          data-target="#request_new_candidate-<%= @job.id %>" <%= is_disabled?(@job.state) %> <%= is_close?(@job.state) %>
          <% if is_pendent?(@job.state) %>
            data-toggle="tooltip" data-placement="bottom" title="Trabajo Pendiente"
          <% end %>
          aria-expanded="false" aria-controls="VerCandidatos">
          <i class="fa fa-user"></i> <%= RequestApplicant.is_requested?(@job.id) ? 'Candidatos solicitados' : 'Solicitar Candidato' %>
        </button>
        <a
            <% if is_pendent?(@job.state) %>
              disabled="<%= is_disabled?(@job.state)%>"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Trabajo Pendiente"
              href="#"
            <% else %>
              href="<%= client_process_show_path @job.id %>"
            <% end %>
            class="btn btn-default justificado <%= is_disabled?(@job.state) %> vercandidato">
          <i class="fa fa-search"></i> Ver Candidatos
        </a>
        <a
          <% if is_close?(@job.state) == "disabled" %>
            href="#"
            disabled="disabled"
          <% else %>
            href="<%= client_edit_step_1_path(@job.id) %>"
          <% end %>
          class="btn btn-default justificado <%= is_close?(@job.state) %> editar">
          <i class="fa fa-pencil-square-o"></i> Editar
        </a>
        <div class="btn btn-default justificado facebook-sharing <%= is_disabled?(@job.state) %> " <%= is_disabled?(@job.state) %> rel="nofollow"
          <% if !is_pendent?(@job.state)%>
             href="http://www.facebook.com/"
             onclick="popUp=window.open(
                 'http://www.facebook.com/sharer.php?u=https://firstjob.me/jobs/<%= @job.slug %>',
                 'popupwindow',
                 'scrollbars=yes,width=800,height=400');
                 popUp.focus();
                 return false">
          <% else %>
            data-toggle="tooltip" data-placement="bottom" title="Trabajo Pendiente" <%= is_disabled?(@job.state) %> >
          <% end %>
          <i class="fa fa-facebook"></i>Comparte con Facebook
        </div>
        <div class="btn btn-default justificado linkedin-sharing <%= is_disabled?(@job.state) %> " <%= is_disabled?(@job.state) %> rel="nofollow"
          <% if !is_pendent?(@job.state) %>
             href="http://www.linkedin.com/"
             onclick="this.disabled=true;popUp=window.open(
                 'http://www.linkedin.com/shareArticle?mini=true&url=https://firstjob.me/jobs/<%= @job.slug %>&title=<%= @job.title %>&source=https://firstjob.me',
                 'popupwindow',
                 'scrollbars=yes,width=800,height=400');
                 popUp.focus();
                 return false" >
          <% else %>
            data-toggle="tooltip" data-placement="bottom" title="Trabajo Pendiente">
          <% end %>
          <i class="fa fa-linkedin" aria-hidden="true"></i>Comparte con Linkedin
        </div>
      </div>
      <%= render "client/process/request_applicants" %>
    </div>
  </div>
</div>

