<div class="text-center process-buttons">
  <button type="button" class="btn change-job-state" data-state="2" data-job-id="<%= @job.id %>" <%= is_disabled?(@job.state) %> <%= is_close?(@job.state) %> rel="tooltip" data-toggle="tooltip" data-placement="top" title="Publicar">
    <i class="fa fa-play button-play <%= @job.state == 2 ? 'play' : 'button-gray'%> <%= is_disabled?(@job.state) %> <%= is_close?(@job.state) %>"></i>
  </button>
  <button type="button" class="btn change-job-state" data-state="3" data-job-id="<%= @job.id %>" <%= is_disabled?(@job.state) %> <%= is_close?(@job.state) %> rel="tooltip" data-toggle="tooltip" data-placement="top" title="Pausar">
    <i class="fa fa-pause button-pause <%= @job.state ==  3 ? 'pause' : 'button-gray'%> <%= is_disabled?(@job.state) %> <%= is_close?(@job.state) %>"></i>
  </button>
  <button type="button" class="btn close-process" data-old-state="<%= @job.state %>" data-state="4" data-job-id="<%= @job.id %>" <%= is_disabled?(@job.state) %> rel="tooltip" data-toggle="tooltip" data-placement="top" title="Detener">
    <i class="fa fa-times button-times <%= @job.state ==  4 ? 'end' : 'button-gray'%> <%= is_disabled?(@job.state) %>"></i>
  </button>
  <button type="button" class="btn republish-job " data-job-id="<%= @job.id %>" <%= is_disabled?(@job.state) %> data-url="<%= client_republish_job_path(@job.id) %>" <%= is_disabled?(@job.state) %> rel="tooltip" data-toggle="tooltip" data-placement="top" title="Republicar">
    <i class="fa fa-rotate-left button-rotate-left button-gray <%= is_disabled?(@job.state) %>"></i>
  </button>
</div>