<div class="col-md-1 btn-like-format reset-padding-right">
  <div class="text-center">
    <span class="btn btn-like like-buttons like-btn-<%= @application.id %>"
      data-current-value="<%= LikeApplication.current_value(@application,'like_btn') %>"
      data-url="<%= client_likes_buttons_path %>"
      data-application-id="<%= @application.id %>"
      data-button-type="like_btn">
      <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
      <p class="plus-font">Me Gusta</p>
    </span>
  </div>
</div>
<div class="col-md-1 btn-like-format reset-padding">
  <div class="text-center">
    <span class="btn btn-like like-buttons unlike-btn-<%= @application.id %>"
      data-current-value="<%= LikeApplication.current_value(@application,'unlike_btn') %>"
      data-url="<%= client_likes_buttons_path %>"
      data-application-id="<%= @application.id %>"
      data-button-type="unlike_btn">
      <i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
      <p class="plus-font">No me Gusta</p>
    </span>
  </div>
</div>