<!-- Modal -->
<div class="modal fade" id="ModalCandidato" tabindex="-1" role="dialog" aria-labelledby="ModalCandidatolabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="<%= client_add_applicant_path %>" data-remote="true" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="ModalCandidatolabel">Agrega un Candidato</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="job_id" value="<%= @job.id %>">
                    <div class="container-fluid">
                        <div class=".col-md-6 .col-md-offset-3">
                            <div class="form-group">
                                <label for="name-text" class="control-label">Nombre:</label>
                                <input type="text" class="form-control" id="name-text" name="first_name">
                            </div>
                            <div class="form-group">
                                <label for="apellido-text" class="control-label">Apellidos:</label>
                                <input type="text" class="form-control" id="apellido-text" name="last_name">
                            </div>
                            <div class="form-group">
                                <label for="email-text" class="control-label">Email:</label>
                                <input type="email" class="form-control" id="email-text" name="email" required>
                            </div>
                            <div class="form-group text-center">
                                <div class="text-center">
                                    <label for="email-text" class="control-label">¿Deseas Enviar una Notificación al Candidato?
                                    </label>
                                </div>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default border-buttons-yesno active">
                                        <input type="radio" name="send_email" id="option1" autocomplete="off" checked value="0">NO
                                    </label>
                                    <label class="btn btn-default border-buttons-yesno">
                                        <input type="radio" name="send_email" id="option2" autocomplete="off" value="1"> SI
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid text-center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Agregar Candidato</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>