<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="process-nav-collapse nav nav-tabs nav-justified" role="tablist">
      <!-- <li role="presentation" class="active">
        <a href="#perfil-<%= @user.id%>" class="tab-perfil" aria-controls="perfil-<%= @user.id%>" role="tab" data-toggle="tab"
          data-url="<%= client_get_profile_partial_path(@user.id) %>" data-user-id="<%= @user.id%>" data-app-id="<%= @application.id if @application.present? %>">Ver Perfil
        </a>
      </li> -->
      <li role="presentation" class="active">
        <a href="#procesos-<%= @user.id%>" class="tab-procesos" aria-controls="procesos-<%= @user.id%>" role="tab" data-toggle="tab"
          data-url="<%= client_get_process_partial_path(@user.id) %>" data-user-id="<%= @user.id%>" data-app-id="<%= @application.id if @application.present? %>">Ver Otros Procesos
        </a>
      </li>
      <li role="presentation">
        <a href="#respuestas-<%= @user.id%>" class="tab-respuestas" aria-controls="respuestas-<%= @user.id%>" role="tab" data-toggle="tab"
          data-url="<%= client_get_answers_partial_path(@user.id) %>" data-user-id="<%= @user.id%>" data-app-id="<%= @application.id if @application.present? %>">Respuestas a Preguntas
        </a>
      </li>
      <li role="presentation">
        <a href="#comentarios-<%= @user.id%>" class="tab-comentarios" aria-controls="comentarios-<%= @user.id%>" role="tab" data-toggle="tab"
          data-url="<%= client_get_comments_partial_path(@user.id) %>" data-user-id="<%= @user.id%>" data-app-id="<%= @application.id if @application.present? %>">Comentarios
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane pane-perfil-<%= @user.id %> fade in active" id="perfil-<%= @user.id%>">
      </div>
      <div role="tabpanel" class="tab-pane pane-procesos-<%= @user.id %> fade" id="procesos-<%= @user.id%>">
      </div>
      <div role="tabpanel" class="tab-pane pane-respuestas-<%= @user.id %> fade" id="respuestas-<%= @user.id%>">
      </div>
      <div role="tabpanel" class="tab-pane pane-comentarios-<%= @user.id %> fade" id="comentarios-<%= @user.id%>">
      </div>
    </div>                                
  </div>
</div>