    <div class="request_applicants collapse text-center" id="request_new_candidate-<%= @job.id %>">
        <% if RequestApplicant.is_requested?(@job.id) %>
            <div>
              <h4>Comentario enviado para solicitud</h4>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                  <textarea  name="comments" class="form-control" disabled rows="5" id="text_request_new_candidate-<%= @job.id %>">
                    <%= RequestApplicant.comment(@job.id) %>
                  </textarea>
                </div>
              </div>
            </div>
        <% else %>
          <form role="form" action="<%= client_request_candidates_path %>" data-remote="true" method="post">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                  <input name="job_id" type="hidden" value="<%= @job.id %>"/>
                  <textarea  name="comments" class="form-control" rows="5" id="text_request_new_candidate-<%= @job.id %>"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-md-offset-5">
                <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
              </div>
            </div>
          </form>
        <% end %>
    </div>