<div class="row reset-padding">
  <div class="col-md-2 reset-padding">
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-default border-filter" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <span class="caret"></span> Filtros
        </a>
      </div>
    </div>
      <!-- <div class="btn-group">
      <button type="button" class="btn btn-info">SI</button>
      <button type="button" class="btn btn-info">NO</button>
    </div>                    -->
  </div>

  <div class="col-md-6">
    <% if params[:country_id].present? %>
    <span class="tag label label-filter">
      <span>País</span>
      <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> 
    </span>
    <% end %>
    <% if params[:english_level].present? %>
    <span class="tag label label-filter">
      <span>Inglés</span>
      <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> 
    </span>
    <% end %>
    <% if params[:excel_level].present? %>
    <span class="tag label label-filter">
      <span>Excel: <%= params[:excel_level] %></span>
      <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> 
    </span>
    <% end %>
  </div>

  <div class="col-md-2 text-right reset-padding-right">   
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle border-filter" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Descargar CV <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a href="#" class="download_user_cv" data-url="<%= client_get_job_resumes_selected_path %>">Seleccionado</a></li>
        <li><a href="<%= client_get_job_resumes_path %>">Todos</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2 text-right reset-padding reset-padding-right">   
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle border-filter" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Descargar Datos <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a href="#" class="download_user_data"  data-url="<%= client_getexcel_selected_path() %>" >Seleccionados</a></li>
        <li><a href="<%= client_getexcel_path(scope: "all") %>">Todos</a></li>
      </ul>
    </div>
  </div>

</div>
<div class="space-10"></div>

<div class="row">
  <form action="">
    <div class="collapse" id="collapseExample">
      <div class="well-filters">
        <div class="container-fluid">
          <div class="page-header">
            FILTROS BÁSICOS
          </div>
          <div class="row">
            <form>
              <div class="col-md-12">
                <div class="form-group col-md-8 col-md-offset-2">
                  <label>TIPO DE POSTULANTE</label><small class="pull-right">* Puedes seleccionar más de Uno</small>
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                      <input type="checkbox" autocomplete="off" name="is_match" value="1"> Match
                    </label>
                    <label class="btn btn-default">
                      <input type="checkbox" autocomplete="off" name="fj_suggested" value="1"> Sugerido FJ
                    </label>
                    <label class="btn btn-default">
                      <input type="checkbox" autocomplete="off" name="liked" value="1"> Me Gusta
                    </label>
                    <label class="btn btn-default">
                      <input type="checkbox" autocomplete="off" name="referred" value="1"> Referidos
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-8 col-md-offset-2">
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                    <input type="checkbox" autocomplete="off" name="video_presentation"> Video Presentación
                    </label>
                    <label class="btn btn-default">
                      <input type="checkbox" autocomplete="off" name="video_inteview"> Video Entrevista
                    </label>
                    <label class="btn btn-default">
                      <input type="checkbox" autocomplete="off" name="salary_order"> Orden por Renta
                    </label>
                    <label class="btn btn-default">
                      <input type="checkbox" autocomplete="off" name="califications"> Promedio de Notas
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-8 col-md-offset-2">
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default <%= is_active?(params[:assistantship], 1) %>">
                      <input type="checkbox" autocomplete="off" name="assistantship" <%= is_checked?(params[:assistantship], 1) %> value="1"> Ayudantias
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:extra_activities], 1) %>">
                      <input type="checkbox" autocomplete="off" name="extra_activities" <%= is_checked?(params[:extra_activities], 1) %> value="1"> Actividades <p class="nomargin">Extraprogramaticas</p>
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:student_activities], 1) %>">
                      <input type="checkbox" autocomplete="off" name="student_activities" <%= is_checked?(params[:student_activities], 1) %> value="1"> Actividades <p class="nomargin">de Representación </p><p class="nomargin">Estudiantil</p>
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:student_projects], 1) %>">
                      <input type="checkbox" autocomplete="off" name="student_projects" <%= is_checked?(params[:student_projects], 1) %> value="1"> Proyectos <p>Universitarios</p>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>PAÍS</label>
                  <select id="countries_ids" class="form-control" data-type="select2" name="country_id[]" multiple>
                    <option value="">Seleccionar un pais</option>
                    <% Country.get_countries.each do |country| %>
                    <option value="<%= country.id %>" <%= is_selected_multi?(params[:country_id], country.id) %> ><%= country.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>TIPO DE POSTULANTE</label><small class="pull-right">* Puedes seleccionar más de Uno</small>
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default <%= is_active2?(params[:career_status], 1) %>">
                      <input type="checkbox" autocomplete="off" name="career_status[]" value="1" <%= is_checked2?(params[:career_status], 1) %>> Estudiante
                    </label>
                    <label class="btn btn-default <%= is_active2?(params[:career_status], 2) %>">
                      <input type="checkbox" autocomplete="off" name="career_status[]" value="2" <%= is_checked2?(params[:career_status], 2) %>> Egresado
                    </label>
                    <label class="btn btn-default <%= is_active2?(params[:career_status], 3) %>">
                      <input type="checkbox" autocomplete="off" name="career_status[]" value="3" <%= is_checked2?(params[:career_status], 3) %>> Titulado
                    </label>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>DISPONIBILIDAD</label>
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default <%= is_active?(params[:avalaibility], 1) %>">
                      <input type="radio" name="avalaibility" id="avalaibility1" autocomplete="off" <%= is_checked?(params[:avalaibility], 1) %> value="1"> Inmediata
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:avalaibility], 2) %>">
                      <input type="radio" name="avalaibility" id="avalaibility2" autocomplete="off" <%= is_checked?(params[:avalaibility], 2) %> value="2"> 1 Mes
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:avalaibility], 3) %>">
                      <input type="radio" name="avalaibility" id="avalaibility3" autocomplete="off" <%= is_checked?(params[:avalaibility], 3) %> value="3"> Otra
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>AÑO QUE CURSA</label>
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default <%= is_active?(params[:age_study], 1) %>">
                      <input type="radio" name="age_study" id="age_study1" autocomplete="off" <%= is_checked?(params[:age_study], 1) %> value="1"> 1°
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:age_study], 2) %>">
                      <input type="radio" name="age_study" id="age_study2" autocomplete="off" <%= is_checked?(params[:age_study], 2) %> value="2"> 2°
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:age_study], 3) %>">
                      <input type="radio" name="age_study" id="age_study3" autocomplete="off" <%= is_checked?(params[:age_study], 3) %> value="3"> 3°
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:age_study], 4) %>">
                      <input type="radio" name="age_study" id="age_study4" autocomplete="off" <%= is_checked?(params[:age_study], 4) %> value="4"> 4°
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:age_study], 5) %>">
                      <input type="radio" name="age_study" id="age_study5" autocomplete="off" <%= is_checked?(params[:age_study], 5) %> value="5"> 5°
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:age_study], 6) %>">
                      <input type="radio" name="age_study" id="age_study6" autocomplete="off" <%= is_checked?(params[:age_study], 6) %> value="6"> 6°
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>NIVEL DE INGLÉS</label>
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default <%= is_active?(params[:english_level], 1) %>">
                      <input type="radio" name="english_level" id="english_level1" autocomplete="off" <%= is_checked?(params[:english_level], 1) %> value="1"> Básico
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:english_level], 2) %>">
                      <input type="radio" name="english_level" id="english_level2" autocomplete="off" <%= is_checked?(params[:english_level], 2) %> value="2"> Medio
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:english_level], 3) %>">
                      <input type="radio" name="english_level" id="english_level3" autocomplete="off" <%= is_checked?(params[:english_level], 3) %> value="3"> Avanzado
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:english_level], 4) %>">
                      <input type="radio" name="english_level" id="english_level4" autocomplete="off" <%= is_checked?(params[:english_level], 4) %> value="4"> Nativo
                    </label>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>NIVEL DE EXCEL</label>
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default <%= is_active?(params[:excel_level], 1) %>">
                      <input type="radio" name="excel_level" id="excel_level1" autocomplete="off" <%= is_checked?(params[:excel_level], 1) %> value="1"> Básico
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:excel_level], 2) %>">
                      <input type="radio" name="excel_level" id="excel_level2" autocomplete="off" <%= is_checked?(params[:excel_level], 2) %> value="2"> Medio
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:excel_level], 3) %>">
                      <input type="radio" name="excel_level" id="excel_level3" autocomplete="off" <%= is_checked?(params[:excel_level], 3) %> value="3"> Avanzado
                    </label>
                    <label class="btn btn-default <%= is_active?(params[:excel_level], 4) %>">
                      <input type="radio" name="excel_level" id="excel_level4" autocomplete="off" <%= is_checked?(params[:excel_level], 4) %> value="4"> Profesional
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>UNIVERSIDAD</label>
                  <select id="select-universities" class="form-control" data-type="select2" name="university_id[]" multiple>
                    <option value="">Seleccionar universidad</option>
                    <% University.get_universities.each do |university|%>
                    <option value="<%= university.id %>" <%= is_selected_multi?(params[:university_id], university.id) %> ><%= university.name %></option>
                    <% end %>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>CARRERA</label>
                  <select id="select-careers" class="form-control" data-type="select2" name="career_id[]" multiple>
                    <option value="">Seleccionar carrera</option>
                    <% Career.get_careers.each do |career|%>
                    <option value="<%= career.id %>" <%= is_selected_multi?(params[:career_id], career.id) %> ><%= career.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-6">
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-7 col-md-offset-5">
                  <button type="submit" class="btn btn-lg btn-success">FILTRAR</button>
                </div>
              </div>
            </form>                              
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

