
<% @app.comments_applications.each do |comment| %>
<div class="container-fluid">
  <div class="row padding-comments-row">
    <div class="col-md-12 padding-comments">
      <div class="row">
        <div class="col-md-2"><%= comment.created_at.strftime("%d/%m/%Y") %></div>
        <div class="col-md-2 text-center pull-right">
          <% if comment.company_user_id == current_company_user.id %>
          <button class="btn-comments btn-comments-edit" data-comment-id="<%= comment.id %>" data-comment-content="<%= comment.content %>">Editar</button>
          <button class="btn-comments comments_delete" data-url="<%= client_delete_application_comment_path(comment.id) %>" >Eliminar</button>
          <% end %>
          <!-- /form -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 answers">
          <p class="plus-font"><%= comment.company_user.email %> escribiÃ³:</p>
          <p class="padding-comments-details">
            <%= comment.content %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="container-fluid">
  <div class="row padding-comments-row text-center">
    <form action="<%= client_new_application_comment_path(@app.user_id) %>" method="POST" data-remote="true">
      <label></label>
      <input type="hidden" name="app_id" value="<%= @app.id %>">
      <textarea placeholder="Ingresa un Comentario sobre <%= @app.user.first_name + " " + @app.user.last_name %>" class="form-control add-comments text_application_comment-<%= @app.user_id %>" name="content"></textarea>
      <button class="btn btn-default">Guardar</button>
    </form>
  </div>
</div>