<% @count = 1 %>
<% @questions.each do |question| %>
<div class="container-fluid">
  <div class="row padding-questions-row">
    <div class="col-md-12 padding-questions">
      <p class="plus-font"><%= @count %>.- <%= question[:question] %></p>
      <p class="answers">
        <%= question[:answer] %>
      </p>
    </div>
  </div>
</div>
<% @count += 1 %>
<% end %>