<!-- Panel de Procesos -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="panel-complete panel-blue-complete animated fadeIn" data-country-id="<%= @user.account.country_id %>">
      <div class="panel-complete-heading">
        <div class="container-fluid reset-padding-right">
          <div class="row format-titles">
            <div class="col-md-12 format-labels">
              <span class="label label-referido">Referido</span>
              <% if @application.present? && @application.company_user_id.present? %>
              <span class="label label-agregado" title="<%= @application.company_user.email %>">Agregado</span>
              <% end %>
              <span class="label label-sugerido">Sugerido FirstJob</span>
              <span class="label label-warning cv-status-<%= @user.id %>" style="display:none">Error en CV</span>
              <script type="text/javascript">
                check_resume(<%= @user.id %>);
              </script>
            </div>
          </div>
          <div class="row format-titles">
            <div class="col-md-1 fix-check">
              <div class="checkbox squaredOne">
                <% if @application.present? %>
                <input type="checkbox" class="checkbox_user" name="application_ids[]" value="<%= @application.id %>" id="squaredOne-<%= @application.id %>" name="check">
                <label for="squaredOne-<%= @application.id %>"></label>
                <% end %>
              </div>
            </div>
            <div class="col-md-7">
              <div><h4 class="plus-font"><%= @user.full_name %></h4></div>
              <div>
                <% if @application.present? %>
                <span>Postuló: <%= @application.created_at.strftime("%d/%m/%Y") %></span>
                <% end %>
                <% if @application.present? %>
                <span class="star-padding"><i class="fa fa-star fa-lg"></i> <%= @application.user_score %></span>
                <% end %>
                <% if @application.present? && @application.is_match? %>
                <span class="match-padding"><i class="fa fa-bullseye fa-lg"></i> MATCH</span>
                <% end %>
              </div>
            </div>
            <div class="col-md-2 vdivide">
              <div class="pull-right">
                <a class="btn btn-play" href="#" data-toggle="modal" data-target="#myModal1">
                  <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
                  <p class="plus-font">Ver Presentación</p>
                </a>
              </div>
            </div>
            <div class="like-buttons-<%= @user.id %>">
              <%= render "client/process/likes_buttons_" if @application.present? %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row panel-body-padding">
            <div class="col-md-2 body-title">CARRERA:</div>
            <div class="col-md-6"><%= @user.account.get_career %></div>
            <div class="col-md-2 body-title">NIVEL DE INGLÉS:</div>
            <div class="col-md-2"><%= @user.account.english_level_name %></div>
          </div>
          <div class="row panel-body-padding">
            <div class="col-md-2 body-title">UNIVERSIDAD:</div>
            <div class="col-md-6"><%= @user.account.get_university %></div>
            <div class="col-md-2 body-title">NIVEL DE EXCEL:</div>
            <div class="col-md-2"><%= @user.account.excel_level_name %></div>
          </div>
          <div class="row panel-body-padding">
            <div class="col-md-2 body-title">SITUACIÓN:</div>
            <div class="col-md-6"><%= @user.account.career_status_name %></div>
            <div class="col-md-2 body-title">QUÉ BUSCA:</div>
            <div class="col-md-2"><%= @user.account.looking_for_name %></div>
          </div>
          <div class="row panel-body-padding">
            <div class="col-md-2 body-title">AÑOS DE EXPERIENCIA:</div>
            <div class="col-md-6"><%= @user.account.years_experience.present? ? @user.account.years_experience_name : "-" %></div>
            <% if @application.present? %>
            <div class="col-md-2 body-title">RENTA:</div>
            <div class="col-md-2">$<%= number_with_delimiter(@application.salary_expected, :delimiter => ".", :separator => ",") %></div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="body-title">RUN: </label>
              <span><%= @user.account.get_rut %></span>
            </div>
            <div class="col-md-6">
              <label class="body-title">TELÉFONO: </label>
              <span><%= @user.account.get_phone %></span>
            </div>
            <div class="col-md-4">
              <label class="body-title">EMAIL: </label>
              <span><%= @user.email %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="btn-group container-fluid justificado-complete vdivide2" role="toolbar">
          <button type="button" class="btn justificado-complete-footer display-resume" data-user-id="<%= @user.id %>"
            data-url="<%= client_display_resume_url(@user.id) %>" <%= "disabled" if !@user.has_resume? %> >
            <% if @user.has_resume? %>
            <i class="fa fa-search"></i> Ver CV
            <% end %>
          </button>
          <% if @user.has_resume? %>
              <button type="button" class="btn justificado-complete-footer download-resume" data-user-id="<%= @user.id %>"
              data-url="<%= client_get_user_resume_path(@user.id) %>" <%= "disabled" if @user.account.resume.path.nil? %> >
                <i class="fa fa-download"></i> Bajar CV
              </button>
          <% end %>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <!--
          <button type="button" class="btn btn-default justificado-complete-footer"><i class="fa fa-comments"></i> Citar a Entrevista</button>
          <button type="button" class="btn btn-default justificado-complete-footer"><i class="fa fa-video-camera"></i> Enviar Video Entrevista
          </button>
          <button type="button" class="btn btn-default justificado-complete-footer"><i class="fa fa-file-text-o"></i> Contratar</button> -->
          <!-- <button type="button" class="btn btn-default btn-information"><i class="fa fa-plus-circle"></i><strong> Información</strong></button> -->
          <button class="btn btn-information" type="button" data-toggle="collapse" data-target="#more-info-<%= @user.id%>" aria-expanded="false" aria-controls="collapseExample2" data-url="<%= client_get_process_partial_path(@user.id) %>" data-user-id="<%= @user.id %>"
            data-app-id="<%= @application.id if @application.present? %>">
            <i class="fa fa-plus-circle"></i><strong> Información</strong>
          </button>
        </div>
      </div>                          
    </div>


    <div class="collapse" id="more-info-<%= @user.id%>">
      <%= render "client/process/more_info" %>
    </div>

  </div>
</div>