<div class="container-fluid">
  <div class="row padding-process-row">
    <div class="col-md-12 padding-process-title">
      <div class="col-md-3 col-md-offset-1">NOMBRE PROCESO</div>
      <div class="col-md-1 text-center">TIPO</div>
      <div class="col-md-2 text-center">LUGAR</div>
      <div class="col-md-2 text-center">TUTOR</div>
    </div>
  </div>
</div>

<% @applications.each do |app| %>
<% j = app.job %>
<div class="container-fluid">
  <div class="row padding-process-row">
    <div class="col-md-12 padding-process">
      <div class="row flex-parent">
        <div class="col-md-1">
          Logo empresa
        </div>
        <div class="col-md-3 flex-child plus-font">
          <%= link_to j.title, client_process_show_path(j.id) %>
        </div>
        <div class="col-md-1 tex-center flex-child">
          <%= j.looking_for_name %>
        </div>
        <div class="col-md-2 text-center flex-child">
          <%= j.location %>
        </div>
        <div class="col-md-2 text-center flex-child">
          María Ignacia Yañez Torres (?)
        </div>
        <div class="col-md-1 text-center color-icon-match">
          <% if @application.present? && @application.is_match?  %>
          <div><i class="fa fa-bullseye fa-lg"></i><span class="display-icon">MATCH</span></div>
          <% end %>
        </div>
        <div class="col-md-2 text-center color-icon-entrevistado">
          <% if false %>
          <div><i class="fa fa-file-text-o fa-lg"></i><span class="display-icon">Entrevistado</span></div> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="container-fluid">
  <div class="row padding-process-row">
    <div class="col-md-12 padding-process">
      <div class="row flex-parent">
        <div class="col-md-1">
          Logo Entel
        </div>
        <div class="col-md-3 flex-child plus-font">
          Practica Sicología
        </div>
        <div class="col-md-1 tex-center flex-child">
          Práctica
        </div>
        <div class="col-md-2 text-center flex-child">
          Santiago,RM,Chile
        </div>
        <div class="col-md-2 text-center flex-child">
          María Ignacia Yañez Torres
        </div>
        <div class="col-md-1 text-center color-icon-match">
          <div><i class="fa fa-bullseye fa-lg"></i><span class="display-icon">MATCH</span></div>

        </div>
        <div class="col-md-2 text-center color-icon-entrevistado">
          <div><i class="fa fa-file-text-o fa-lg"></i><span class="display-icon">Entrevistado</span></div> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row padding-process-row">
    <div class="col-md-12 padding-process">
      <div class="row flex-parent">
        <div class="col-md-1">
          Logo Entel
        </div>
        <div class="col-md-3 flex-child plus-font">
          Practica Sicología
        </div>
        <div class="col-md-1 tex-center flex-child">
          Práctica
        </div>
        <div class="col-md-2 text-center flex-child">
          Santiago,RM,Chile
        </div>
        <div class="col-md-2 text-center flex-child">
          María Ignacia Yañez Torres
        </div>
        <div class="col-md-1 text-center color-icon-match">
          <!-- <div><i class="fa fa-bullseye fa-lg"></i><span class="display-icon">MATCH</span></div> -->
        </div>
        <div class="col-md-2 text-center color-icon-entrevista-pendiente">
          <div><i class="fa fa-cogs fa-lg"></i><span class="display-icon">Entrevista Pendiente</span></div> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row padding-process-row">
    <div class="col-md-12 padding-process">
      <div class="row flex-parent">
        <div class="col-md-1">
          Logo Entel
        </div>
        <div class="col-md-3 flex-child plus-font">
          Practica Sicología
        </div>
        <div class="col-md-1 tex-center flex-child">
          Práctica
        </div>
        <div class="col-md-2 text-center flex-child">
          Santiago,RM,Chile
        </div>
        <div class="col-md-2 text-center flex-child">
          María Ignacia Yañez Torres
        </div>
        <div class="col-md-1 text-center color-icon-match">
          <!--  <div><i class="fa fa-bullseye fa-lg"></i><span class="display-icon">MATCH</span></div> -->

        </div>
        <div class="col-md-2 text-center color-icon-contratado">
          <div><i class="fa fa-check-circle-o fa-lg"></i><span class="display-icon">Contratado</span></div> 
        </div>
      </div>
    </div>
  </div>
</div>
