<!-- <div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Procesos</h1>
  </div> /.col-lg-12
</div> -->

<div class="row process-menu">
  <nav class="navbar navbar-default col-process-menu">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav nav-tabs nav-justified process-nav">
        <li class="<%= params[:looking_for].nil? ? 'active' : '' %>">
          <a href="<%= client_process_index_path %>">TODOS</a>
        </li>
        <li class="<%= params[:looking_for] == "trabajos" ? 'active' : '' %>">
          <a href="<%= client_process_index_path(looking_for: "trabajos") %>">TRABAJOS</a>
        </li>
        <li class="<%= params[:looking_for] == "practica" ? 'active' : '' %>">
          <a href="<%= client_process_index_path(looking_for: "practica") %>">PRACTICAS</a>
        </li>
        <li class="<%= params[:looking_for] == "memoria" ? 'active' : '' %>">
          <a href="<%= client_process_index_path(looking_for: "memoria") %>">MEMORIAS</a>
        </li>
      </ul>
    </div> <!-- /.container-fluid -->
  </nav>
</div>

<div class="space-20"></div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle border-filter" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Ordenar <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="<%= client_process_index_path(looking_for: params[:looking_for], order_by: 'state') %>">Estado</a></li>
    <li><a href="<%= client_process_index_path(looking_for: params[:looking_for], order_by: 'created_at') %>">Fecha de Publicación</a></li>
    <li><a href="<%= client_process_index_path(looking_for: params[:looking_for], order_by: 'title') %>">Orden Alfabético</a></li>
  </ul>
</div>

<div class="space-10"></div>

<div>
  <div class="row">
    <div class="process-title">
      <div class="col-xs-3">
        <a href="<%= client_process_index_path(looking_for: params[:looking_for], order_by: 'title') %>">NOMBRE PROCESO</a>
      </div>
      <div class="col-xs-1 text-center">TIPO</div>
      <div class="col-xs-2 text-center">LUGAR</div>
      <div class="col-xs-1 text-center">VACANTES</div>
      <div class="col-xs-3 text-center">
        <a href="<%= client_process_index_path(looking_for: params[:looking_for], order_by: 'created_at') %>">FECHA PUBLICACION</a>
      </div>
      <div class="col-xs-2 text-center">
        <a href="<%= client_process_index_path(looking_for: params[:looking_for], order_by: 'state') %>">ESTADO</a>
      </div>
    </div>
  </div>
</div>

<div class="space-10"></div>

<% @jobs.each do |job|%>
<% @job = job %>

<%= render "client/process/jobs_cards" %>

<% end %>

<div class="text-center">
  <%= will_paginate @jobs, renderer: BootstrapPagination::Rails,:previous_label => "Anterior",
      :next_label     => "Siguiente" %>
</div>

<span data-url="<%= client_set_job_state_path %>" class="update_job_state_url"></span>