<div class="container-fluid">    
  <div class="row">
    <div class="col-md-12 reset-padding reset-padding-right button-candidato">
      <div class="col-md-7 reset-padding">
        <ol class="breadcrumb">
          <span class="margin-bread">Estas en:</span>
          <li><a href="#">Procesos</a></li>
          <li><a href="<%= client_process_show_path(@job.slug) %>"><%= @job.title %></a></li>
          <li class="active">Candidatos</li>
        </ol>
      </div>
      <div class="col-md-5 reset-padding-right ">
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#ModalCandidato"><i class="fa fa-user-plus" aria-hidden="true"></i> Agregar Candidatos
        </button>
        <%= render "client/process/modal_new_applicant" %>
      </div>                    
    </div>
  </div> 

  <%= render "client/process/row_filters" %>

</div>

<div class="space-10"></div>

<% @accounts.each do |account| %>

<% if account.present? %>
<% @application = Application.where(user_id: account.user_id, job_id: @job.id).last %>
<% @user = account.user %>
<%= render "client/process/user_card"%>
<div class="space-10"></div>
<% end %>

<% end %>

<div class="row">
  <div class="col-md-12 text-center">
    <%= will_paginate @accounts, renderer: BootstrapPagination::Rails, :previous_label => "Anterior", :next_label => "Siguiente" %>
  </div>
</div>

<div class="display-resume-block"></div>


<!-- Modal Presentacion -->

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9-rIHFbOSDQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

