<p>Hola <%= @first_name %> <%= @last_name%></p>

<p>Has sido agregado por un reclutado en la plataforma de FirstJob.</p>

<p>Puedes ingresar a nuestra plataforma usando estos datos:</p>
<hr>
<p> Email: <%= @email_to %> </p>

<% if @password.present? %>
<p> Password: <%= @password %></p>
<% end %>

<hr>

Gracias!