<!DOCTYPE html>
<html>
<head>
  <title>FirstJob.me | </title>
</head>
<body>
  <p>Proceso: <%= @job.title %></p>
  <p>slug: <%= @job.slug %> | id: <%= @job.id %></p>
  <p>Solicitado por: <%= @company_user.email %></p>
  <p>Comentarios: <%= @comments %></p>
</body>
</html>