<div class="login-box" data-login="form">
  <form action="<%= company_user_session_path %>" data-remote="true" method="post">
    <%= token_tag %>
    <p class="brand-color text-xs-center font-weight-bold">Ingresa aquí</p>
    <div class="form-group"><label for="">Email</label>
      <input name="company_user[email]" type="email" class="form-control" required="true">
    </div>
    <div class="form-group"><label for="">Contraseña</label>
      <input name="company_user[password]" type="password" class="form-control" required="true">
    </div>
    <div class="form-group text-xs-right">
      <button class="btn btn-primary">Ingresar</button>
    </div>
  </form>
</div>
<div class="login-box text-xs-center" data-login="error" style="display: none;">
  <p class="brand-color"><i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i></p>
  <p class="font-weight-bold brand-color-secondary">El e-mail o contraseña ingresado es incorrecto</p>
</div>
