<footer class="fixed-footer">
  <ul class="footer-box">
    <li class="footer-item">
      <a class="footer-link" href="<%= home_publish_path %>">Publicar</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="<%= home_contact_path %>">Contacto</a>
    </li>
  </ul>
</footer>