<nav class="navigation">
  <div class="container">
    <a class="main-nav-brand" href="<%= root_companies_path %>">
      <%= image_tag("companies/firstjob-logo.png", class: "img-fluid", alt: "FirstJob") %>
    </a>
    <a href="#" class="main-nav-toggle pull-xs-right"><i class="fa fa-bars" aria-hidden="true"></i> Menu</a>
    <ul class="main-nav pull-xs-right">
      <li class="main-nav-item main-nav-mobile-close">
        <a class="main-nav-toggle" href="#"><i class="fa fa-close" aria-hidden="true"></i> Cerrar</a>
      </li>
      <li class="main-nav-item main-nav-mobile-brand">
        <a href="#"><%= image_tag("companies/firstjob-logo.png", class: "img-fluid center-block", alt: "FirstJob") %></a>
      </li>
      <li class="main-nav-item">
        <a id="menu-companies" class="main-nav-link" href="<%= root_companies_path %>">Nuestra Diferenciación</a>
      </li>
      <li class="main-nav-item">
        <a id="menu-products" class="main-nav-link" href="<%= home_products_path %>">Productos</a>
      </li>
      <li class="main-nav-item">
        <a id="menu-clients" class="main-nav-link" href="<%= home_clients_path %>">Clientes</a>
      </li>
      <li class="main-nav-item">
        <a id="menu-plans" class="main-nav-link" href="<%= home_plans_path %>">Planes</a>
      </li>
      <li class="main-nav-item">
        <a id="menu-contact" class="main-nav-link" href="<%= home_contact_path %>">Contacto</a>
      </li>
      <li class="main-nav-item hidden-md-down">
        <a class="main-nav-button" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acceso</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
          <%= render "client/company/companies_login" %>
        </div>
      </li>
      <li class="main-nav-item hidden-lg-up">
        <a class="main-nav-button" href="<%= home_login_path %>">Acceso</a>
      </li>
      <li class="main-nav-item">
        <a class="main-nav-button" href="<%= root_path %>">¿Buscas trabajo?</a>
      </li>
    </ul>
  </div>
</nav>
