<header class="page-header" data-js="header" data-current-menu="menu-clients">
  <div class="u-vertical-center">
    <div class="page-header-content">
      <div class="container">
        <div class="text-xs-center">
          <h2 class="heading-title m-b-2">Clientes</h2>
          <p class="heading-description">Más de <span class="font-weight-bold">100</span> empresas buscan sus practicantes y profesionales recién egresados con nuestra plataforma.</p>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="primary-box">
  <div class="container">
    <h3 class="u-separator-title text-italic m-b-3" data-title="Ellos ya confían en nosotros" data-fsize="36px">Ellos ya confían en nosotros</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-cencosud.png", class: "img-fluid", alt: "Cencosud") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-santander.png", class: "img-fluid", alt: "Santander") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-pyg.png", class: "img-fluid", alt: "P&G") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-loreal.png", class: "img-fluid", alt: "L'Oréal") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-telefonica.png", class: "img-fluid", alt: "Telefónica") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-metlife.png", class: "img-fluid", alt: "MetLife") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-ccu.png", class: "img-fluid", alt: "CCU") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-coca-cola.png", class: "img-fluid", alt: "Coca-Cola Andina") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-arauco.png", class: "img-fluid", alt: "Arauco") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-soprole.png", class: "img-fluid", alt: "Soprole") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-corpbanca.png", class: "img-fluid", alt: "Corpbanca") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-banco-falabella.png", class: "img-fluid", alt: "Banco Falabella") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-carozzi.png", class: "img-fluid", alt: "Carozzi") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-dhl.png", class: "img-fluid", alt: "DHL") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-afp-habitat.png", class: "img-fluid", alt: "AFP Habitat") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-vtr.png", class: "img-fluid", alt: "VTR") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-consorcio.png", class: "img-fluid", alt: "Consorcio") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-rsa.png", class: "img-fluid", alt: "RSA") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-aes-gener.png", class: "img-fluid", alt: "AES Gener") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-tps-valparaiso.png", class: "img-fluid", alt: "TPS Valparaiso") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-saam.png", class: "img-fluid", alt: "SAAM") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-cruz-blanca.png", class: "img-fluid", alt: "Cruz Blanca") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-metro-santiago.png", class: "img-fluid", alt: "Metro de Santiago") %>
      </div>
      <div class="col-xs-6 col-sm-3 m-b-1">
        <%= image_tag("companies/client-mercer.png", class: "img-fluid", alt: "Mercer") %>
      </div>
    </div>
  </div>
</section>