<section id="contact" class="contact-layout" data-background="contact" data-js="header-fixed" data-current-menu="menu-contact">
  <article class="contact-box bg-image-box text-xs-center">
    <h3 class="h2 text-uppercase text-bold m-b-2">¿Tienes dudas?</h3>
    <em class="h3 m-b-3">Llámanos</em>
    <p class="h6 m-t-md">Chile</p>
    <p class="text-italic m-b-3">
      <span class="text-nowrap">Fijo <a class="contact-link" href="tel:+56225031557">(+56 2) 2503 1557</a></span>
    </p>
    <em class="h3 m-b-3">Visítanos</em>
    <p class="m-t-md m-b-0"><strong>Chile:</strong> Badajoz 100, of. 014, Las Condes, Santiago.</p>
    <p><strong>Colombia:</strong> Cra 12 no 96-49, Bogotá.</p>
  </article>
  <article class="contact-box">
    <div class="form-horizontal contact-form">
      <form accept-charset="UTF-8" action="/contact" class="new_message" data-remote="true" id="new_message" method="post">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="✓">
          <%= token_tag %>
        </div>
        <h3 class="text-xs-center m-b-3 brand-color">Escríbenos</h3>
        <div class="form-group">
          <label for="message_full_name">Nombre</label>
          <input class="form-control" id="message_full_name" name="message[full_name]" required="required" size="30" type="text">
        </div>
        <div class="form-group">
          <label for="message_email">Correo electrónico</label>
          <input class="form-control" id="message_email" name="message[email]" required="required" size="30" type="email">
        </div>
        <div class="form-group">
          <label for="message_company_name">Empresa</label>
          <input class="form-control" id="message_company_name" name="message[company_name]" required="required" size="30" type="text">
        </div>
        <div class="form-group">
          <label for="message_position">Cargo</label>
          <input class="form-control" id="message_position" name="message[position]" required="required" size="30" type="text">
        </div>
        <div class="form-group">
          <label for="message_phone">Teléfono</label>
          <input class="form-control" id="message_phone" name="message[phone]" required="required" size="30" type="text">
        </div>
        <div class="form-group">
          <label for="message_body">Mensaje</label>
          <textarea class="form-control" cols="40" id="message_body" name="message[body]" required="required" rows="2"></textarea>
        </div>
        <div class="form-group text-xs-right">
          <input class="btn btn-primary disable-after-click" name="commit" type="submit" value="Enviar">
        </div>
      </form>
      <p id="contact_ok_message" class="heading-title brand-color text-xs-center" style="display:none;">¡Tu mensaje se ha enviado con éxito!</p>
    </div>
  </article>
</section>
