<header class="main-header" data-js="header" data-current-menu="menu-companies">
  <div class="u-vertical-center">
    <div class="main-header-content">
      <div class="container">
        <div class="text-xs-center">
          <h2 class="heading-title">Conectamos a las mejores empresas</h2>
          <h3 class="heading-title--secondary">con estudiantes y recién titulados</h3>
          <p class="heading-description text-italic">para prácticas y trabajos de cero a dos años de experiencia</p>
          <a href="#services" data-scroll="smooth" class="btn btn-primary btn-lg btn-pill">Conoce más</a>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="feature-box">
  <div class="u-vertical-center">
    <div class="container">
      <div class="row text-xs-center">
        <div class="col-sm-4" data-color="users">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="74.997px" height="80px" viewBox="645.501 267.2 74.997 80" enable-background="new 645.501 267.2 74.997 80"
          xml:space="preserve">
          <g>
            <path fill="none" d="M667.306,298.973c1.186,2.764,2.761,5.138,4.614,6.953c0.967,0.948,2.011,1.743,3.114,2.364
            c1.764,0.993,3.682,1.537,5.686,1.537c0.255,0,0.508-0.009,0.759-0.026c0.503-0.035,1-0.104,1.491-0.205
            c6.988-1.454,12.5-9.581,13.428-19.822c0.016-0.17,0.034-0.338,0.047-0.509c0.107-0.746,0.167-1.511,0.179-2.286l-0.002,0.002
            l-2.541,2.919c0.001-0.001,0.001-0.003,0.001-0.004c0.961-2.138-1.098-6.54-2.48-9.083c-0.628-1.156-1.116-1.929-1.116-1.929
            c-8.421,6.091-20.943,0-20.943,0c-3.779,1.491-1.989,12.117-1.988,12.117c0,0,0,0-0.001,0c-0.236-0.164-0.466-0.309-0.691-0.436
            c-0.675-0.382-1.294-0.608-1.822-0.74C665.347,293.151,666.138,296.252,667.306,298.973z"/>
            <path d="M714.184,323.038c0.1,0,0.2,0.006,0.299,0.008c-3.658-6.871-10.599-11.731-18.732-12.473
            c-0.095,4.316-6.493,7.8-14.374,7.8c-7.882,0-14.279-3.484-14.375-7.8c-12.056,1.101-21.5,11.237-21.5,23.579
            c0,13.077,10.603,13.047,23.681,13.047l31.382-0.082c-1.441-2.391-2.271-5.194-2.271-8.189
            C698.293,330.152,705.408,323.038,714.184,323.038z"/>
            <path d="M662.807,289.169c0.013,0.171,0.027,0.341,0.043,0.511c1.143,12.93,8.708,22.919,17.871,22.919
            c9.28,0,16.923-10.25,17.912-23.423c0.137-0.946,0.208-1.916,0.208-2.901c0-0.986-0.073-1.956-0.208-2.902
            c-1.329-9.157-8.843-16.172-17.912-16.172c-9.074,0-16.588,7.02-17.913,16.18c-0.137,0.944-0.207,1.911-0.207,2.894
            c0,0.4,0.015,0.796,0.038,1.189C662.671,288.039,662.726,288.608,662.807,289.169z M667.554,291.002
            C667.555,291.002,667.555,291.002,667.554,291.002c0,0-1.79-10.627,1.989-12.117c0,0,12.522,6.091,20.943,0
            c0,0,0.488,0.772,1.116,1.929c1.382,2.543,3.441,6.945,2.48,9.083c0,0.001,0,0.002-0.001,0.004l2.541-2.919l0.002-0.002
            c-0.013,0.776-0.071,1.54-0.179,2.286c-0.013,0.171-0.031,0.34-0.047,0.509c-0.928,10.241-6.441,18.368-13.429,19.822
            c-0.49,0.101-0.987,0.171-1.491,0.205c-0.252,0.018-0.505,0.026-0.759,0.026c-2.004,0-3.922-0.544-5.686-1.537
            c-1.103-0.62-2.147-1.416-3.114-2.364c-1.853-1.815-3.428-4.188-4.614-6.953c-1.168-2.722-1.959-5.822-2.265-9.148
            c0.529,0.132,1.148,0.358,1.822,0.74C667.088,290.692,667.318,290.837,667.554,291.002z"/>
            <path d="M682.971,309.595c-0.49,0.101-0.987,0.171-1.491,0.205"/>
            <polygon points="716.981,337.477 715.637,337.477 715.637,332.616 712.731,332.616 712.731,337.477 707.87,337.477 707.87,340.382 
            712.731,340.382 712.731,344.355 712.731,345.242 715.637,345.242 715.637,341.291 715.637,340.382 716.106,340.382 
            720.499,340.382 720.499,337.477   "/>
          </g>
        </svg>
        <h3 class="feature-title">Más de 100.000 usuarios</h3>
      </div>
      <div class="col-sm-4" data-color="social-media">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="95px" height="80px" viewBox="635.497 267.2 95 80" enable-background="new 635.497 267.2 95 80" xml:space="preserve">
        <g>
          <g>
            <polygon points="644.107,347.2 657.161,347.2 657.161,297.828 635.497,297.828    "/>
            <path d="M730.497,305.484c0-5.28-4.174-6.077-4.174-6.077h-27.144c0,0-1.831-2.371-0.265-7.39
            c1.565-5.018,1.83-12.408,0.523-15.576c-1.301-3.167-3.654-8.978-9.657-9.241c-3.521,0.545-4.698,3.43-4.698,3.43v11.622
            c0,0-11.218,20.589-12.783,20.851c-1.57,0.268-7.819,1.06-7.819,1.06V340.6h1.816c0,0,13.308,6.599,15.915,6.599
            c2.613,0,32.889,0,32.889,0s4.697-1.059,4.697-6.336c0-3.43-2.872-5.548-2.872-5.548s7.05-0.526,7.05-6.597
            c0-2.494-3.397-4.753-3.397-4.753s6.527-1.322,6.269-6.864c-0.524-3.432-2.352-5.283-2.352-5.283S730.497,310.761,730.497,305.484
            z"/>
          </g>
        </g>
      </svg>
      <h3 class="feature-title">Más de 100.000 seguidores en redes sociales</h3>
    </div>
    <div class="col-sm-4" data-color="clients">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="150px" height="80px" viewBox="613.301 302.639 150 80" enable-background="new 613.301 302.639 150 80"
      xml:space="preserve">
      <path d="M661.44,346.085c-1.052-1.045-2.43-1.566-3.809-1.566c-1.378,0-2.757,0.521-3.809,1.566l-7.302,7.248
      c-2.105,2.089-2.105,5.472,0,7.562c1.051,1.046,2.43,1.568,3.809,1.568c1.379,0,2.757-0.522,3.809-1.568l7.302-7.247
      C663.543,351.557,663.543,348.172,661.44,346.085z"/>
      <path d="M673.049,351.667c-1.051-1.043-2.43-1.565-3.809-1.565c-1.378,0-2.757,0.521-3.809,1.565l-8.559,8.498
      c-2.103,2.089-2.103,5.474,0,7.56c1.052,1.048,2.432,1.569,3.811,1.569c1.378,0,2.757-0.522,3.809-1.569l8.557-8.495
      C675.155,357.143,675.155,353.758,673.049,351.667z"/>
      <path d="M682.739,358.97c-1.009-1.001-2.328-1.501-3.648-1.501c-1.321,0-2.641,0.5-3.648,1.501l-7.682,7.625
      c-2.016,1.999-2.016,5.241,0,7.243c1.007,1.001,2.328,1.499,3.648,1.499c1.32,0,2.639-0.498,3.648-1.499l7.682-7.627
      C684.754,364.213,684.754,360.971,682.739,358.97z"/>
      <path d="M690.358,367.036c-0.877-0.872-2.026-1.309-3.179-1.309c-1.149,0-2.3,0.436-3.177,1.309l-6.691,6.641
      c-1.756,1.743-1.756,4.568,0,6.306c0.877,0.872,2.028,1.309,3.177,1.309c1.149,0,2.3-0.436,3.177-1.309l6.692-6.638
      C692.112,371.602,692.112,368.779,690.358,367.036z"/>
      <path d="M644.081,309.53l-13.869-6.736c-0.757-0.368-1.672-0.057-2.042,0.695l-14.713,29.848c-0.371,0.751-0.058,1.659,0.7,2.027
      l13.869,6.736c0.757,0.366,1.672,0.056,2.044-0.695l14.713-29.847C645.153,310.806,644.838,309.898,644.081,309.53z M623.46,336.438
      c-1.487,0-2.693-1.197-2.693-2.673c0-1.476,1.206-2.674,2.693-2.674c1.487,0,2.693,1.197,2.693,2.674
      C626.153,335.243,624.947,336.438,623.46,336.438z"/>
      <path d="M763.146,333.337l-14.715-29.848c-0.369-0.753-1.285-1.063-2.042-0.695l-13.869,6.736c-0.757,0.368-1.071,1.276-0.7,2.029
      l14.715,29.847c0.369,0.751,1.284,1.063,2.042,0.695l13.869-6.736C763.202,334.997,763.515,334.089,763.146,333.337z
      M756.579,334.273l-2.142,1.04c-0.08,0.421-0.435,0.745-0.884,0.745c-0.152,0-0.291-0.047-0.419-0.112L751,336.983
      c-0.075,0.037-0.156,0.055-0.235,0.055c-0.2,0-0.392-0.11-0.486-0.3c-0.131-0.264-0.02-0.585,0.249-0.715l2.141-1.04
      c0.083-0.421,0.438-0.745,0.883-0.745c0.153,0,0.292,0.046,0.419,0.112l2.133-1.035c0.267-0.129,0.591-0.02,0.722,0.245
      C756.956,333.823,756.848,334.144,756.579,334.273z"/>
      <path d="M704.585,335.698c-1.368-1.599-2.553-2.978-3.548-4.063c-0.563-0.615-1.883-2.055-2.266-2.055
      c-0.415,0-1.729,1.15-3.002,2.261c-1.923,1.684-4.835,4.226-9.479,7.486c-1.735,1.217-4.021,1.887-6.437,1.887
      c-3.18,0-6.206-1.12-8.096-2.996c-1.859-1.844-2.057-3.728-1.896-4.982c0.228-1.766,1.366-3.486,2.902-4.383
      c1.481-0.865,10.701-7.006,15.889-13.39c0.192-0.236,0.383-0.442,0.576-0.661c-1.582-1.265-3.879-1.915-6.878-1.915
      c-4.772,0-10.603,1.546-15.676,3.056c-1.918,0.571-3.921,0.861-5.956,0.861c-5.479,0-9.849-2.036-11.949-3.017
      c-0.207-0.095-0.388-0.18-0.529-0.242c-0.306-0.147-0.635-0.222-0.974-0.222c-0.857,0-1.651,0.495-2.023,1.26l-11.547,23.756
      c-0.532,1.093-0.081,2.406,1.002,2.954c1.768,1.153,7.636,6.855,11.272,10.571l6.838-6.786c1.288-1.281,3.002-1.985,4.824-1.985
      c1.823,0,3.537,0.705,4.825,1.985c1.547,1.535,2.166,3.629,1.914,5.632l0.047-0.046c1.29-1.281,3.002-1.985,4.825-1.985
      c1.823,0,3.537,0.705,4.825,1.985c1.703,1.69,2.303,4.055,1.825,6.236c0.971-0.542,2.058-0.855,3.201-0.855
      c1.761,0,3.42,0.683,4.664,1.917c1.814,1.8,2.32,4.391,1.576,6.662c0.591-0.192,1.207-0.318,1.848-0.318
      c1.584,0,3.072,0.613,4.194,1.724c2.311,2.296,2.311,6.028,0,8.322l-6.608,6.559c1.273,1.1,2.871,1.727,4.573,1.727
      c1.883,0,3.648-0.729,4.969-2.053c1.058-1.055,1.732-2.39,1.954-3.832c0.832,0.337,1.728,0.511,2.639,0.511
      c1.881,0,3.648-0.729,4.972-2.053c1.206-1.204,1.914-2.811,2.016-4.479c1.002,0.526,2.125,0.807,3.273,0.807
      c1.892,0,3.665-0.737,4.989-2.073c1.26-1.268,1.967-2.966,2.008-4.718c0.85,0.355,1.765,0.539,2.702,0.539
      c1.893,0,3.663-0.739,4.989-2.075c1.305-1.318,2.104-3.166,2.192-5.071c0.069-1.532-0.314-2.949-1.087-4.11
      C718.307,351.683,710.503,342.599,704.585,335.698z"/>
      <path d="M743.692,338.985l-11.547-23.756c-0.261-0.542-0.808-0.857-1.376-0.857c-0.224,0-0.447,0.048-0.663,0.151
      c-1.714,0.771-6.598,3.331-12.789,3.331c-1.944,0-4.017-0.253-6.162-0.891c-5.674-1.689-9.747-5.141-13.855-5.141
      c-2.248,0-4.515,1.06-7.055,3.994c-0.161,0.182-0.313,0.346-0.475,0.543c-5.135,6.317-14.244,12.535-16.279,13.722
      c-1.837,1.073-3.591,4.277-0.719,7.13c1.654,1.641,4.364,2.577,7.081,2.577c2.006,0,4.017-0.511,5.609-1.625
      c9.249-6.488,11.412-10.008,13.309-10.008c0.916,0,1.77,0.82,3.327,2.522c4.434,4.841,12.773,15.651,19.99,20.3
      c2.103,1.353,4.117,2.212,5.904,2.212c1.316,0,2.513-0.449,3.541-1.468c3.097-3.075,9.514-9.474,11.445-10.708
      C743.74,340.646,744.061,339.74,743.692,338.985z"/>
    </svg>
    <h3 class="feature-title">Más de 100 clientes</h3>
  </div>
</div>
</div>
</div>
</section>
<section id="services">
  <div class="container-fluid">
    <div class="row" data-background="s-match">
      <div class="col-md-6 col-md-push-6 u-no-gutter">
        <article class="fluid-box bg-image-box">
          <div class="u-vertical-center">
            <h3 class="services-title">Match</h3>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-md-pull-6 col-xl-4 col-xl-offset-2">
        <article class="fluid-box">
          <div class="u-vertical-center">
            <h4 class="services-content-heading text-uppercase text-italic">6 veces más efectivo</h4>
            <p class="services-content">Identifica fácilmente a los mejores candidatos que cumplen con el perfil de los diferentes cargos que buscas.</p>
          </div>     
        </article>
      </div>
    </div>
    <div class="row" data-background="s-social-media">
      <div class="col-md-6 u-no-gutter">
        <article class="fluid-box bg-image-box">
          <div class="u-vertical-center">
            <h3 class="text-md-right services-title">
              <span class="services-title--lead">Redes</span>
              Sociales
            </h3>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <article class="fluid-box">
          <div class="u-vertical-center">
            <h4 class="services-content-title text-uppercase">Somos la red de búsqueda del primer trabajo <span class="text-bold">más grande de Latinoamérica.</span></h4>
            <p class="services-content">Pioneros en usar las redes sociales para difundir anuncios de empleo logrando atraer a los mejores talentos en el menor tiempo posible.</p>
            <p class="p-t-1">
              <i class="fa fa-facebook fa-2x m-r-3" aria-hidden="true" title="Facebook"></i>
              <i class="fa fa-twitter fa-2x m-r-3" aria-hidden="true" title="Twitter"></i>
              <i class="fa fa-instagram fa-2x m-r-3" aria-hidden="true" title="Instagram"></i>
              <i class="fa fa-linkedin fa-2x" aria-hidden="true" title="Linkedin"></i>
            </p>
          </div>     
        </article>
      </div>
      <a href="#more-services" data-scroll="smooth" class="u-scroll" aria-hidden="true"></a>
    </div>
    <div class="row" data-background="s-video-interview" id="more-services">
      <div class="col-md-6 col-md-push-6 u-no-gutter">
        <article class="fluid-box bg-image-box">
          <div class="u-vertical-center">
            <h3 class="services-title">
              <span class="services-title--lead">Video</span>
              Entrevista
            </h3>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-md-pull-6 col-xl-4 col-xl-offset-2">
        <article class="fluid-box">
          <div class="u-vertical-center">
            <h4 class="services-content-title text-bold">Reduce tiempo y costos en tu proceso de selección</h4>
            <p class="services-content">Conociendo a tus candidatos con nuestro sistema de Video Entrevistas grabadas.</p>
          </div>     
        </article>
      </div>
    </div>
    <div class="row" data-background="s-account-management">
      <div class="col-md-6 u-no-gutter">
        <article class="fluid-box bg-image-box">
          <div class="u-vertical-center">
            <h3 class="text-md-right services-title">
              <span class="services-title--lead">Account</span>
              Manager
            </h3>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <article class="fluid-box">
          <div class="u-vertical-center">
            <h4 class="services-content-title services-content--contrast text-bold">Recibe apoyo en tiempo real para fortalecer tus búsquedas.</h4>
          </div>     
        </article>
      </div>
    </div>
    <div class="row" data-background="s-employer-branding">
      <div class="col-md-6 col-md-push-6 u-no-gutter">
        <article class="fluid-box bg-image-box">
          <div class="u-vertical-center">
            <h3 class="services-title">
              <span class="services-title--lead">Employer</span>
              Branding
            </h3>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-md-pull-6 col-xl-4 col-xl-offset-2">
        <article class="fluid-box">
          <div class="u-vertical-center">
            <h4 class="services-content-title text-bold">Mejora tu marca de empleador</h4>
            <p class="services-content">Aumentando tu posicionamiento en el segmento de estudiantes y jóvenes profesionales.</p>
          </div>     
        </article>
      </div>
    </div>
  </div>
</section>
