<header class="main-header u-full-height" data-js="header" data-current-menu="menu-companies">
  <div class="u-vertical-center">
    <div class="main-header-content">
      <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
          <div class="primary-card text-xs-center">
          <%= render "client/company/companies_login" %>
        </div>
        </div>
      </div>  
      </div>
    </div>
  </div>
</header>