<header class="page-header" data-js="header" data-current-menu="menu-plans">
  <div class="u-vertical-center">
    <div class="page-header-content">
      <div class="container">
        <div class="text-xs-center">
          <h2 class="heading-title m-b-2">Planes</h2>
          <p class="heading-description m-b-0"><span class="text-bold">97%</span> de las personas contratadas a través de <strong class="text-bold">FirstJob</strong> duran más de 1 año en su trabajo.<br> <span class="text-bold">Si contratas a una persona en FirstJob y se va en menos de un año, puedes buscarla gratis.</span></p>
          <p class="text-xs-center text-italic m-b-3">(Solo para planes anuales)</p>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="primary-box">
  <div class="container">
    <p class="text-xs-center text-uppercase">Selecciona tu país</p>
    <div class="nav-center m-b-3">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a href="#chile" class="nav-link text-bold text-uppercase active" data-toggle="tab">Chile</a>
        </li>
        <li class="nav-item">
          <a href="#colombia" class="nav-link text-bold text-uppercase" data-toggle="tab">Colombia</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="chile">
        <p class="text-xs-center text-primary font-weight-normal">Todos los precios son + IVA</p>
        <article class="pricing-table">
          <div class="pricing-table-heading">
            <%= image_tag("companies/plan-startup.png", class: "img-fluid center-block", alt: "Plan Startup") %>
            <h4 class="pricing-table-title">Startup</h4>
          </div>
          <div class="pricing-table-item hidden-md-down">
            <h4 class="h6 text-md-center text-bold text-uppercase text-hide">Características</h4>
            <ul class="pricing-table-list">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <p class="h6 text-bold text-uppercase m-t-md">Valor</p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Pago por anuncio</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>1</li>
              <li>45 días</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>No</li>
            </ul>
            <p class="m-b-0 small">Práctica: <span class="text-bold">CLP $40.000</span></p>
            <p class="small">Trabajo: <span class="text-bold">CLP $50.000</span></p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Plan Anual</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>Ilimitadas</li>
              <li>1 año</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>No</li>
            </ul>
            <p class="h6 text-bold m-t-md">CLP $150.000</p>
          </div>
        </article>
        <article class="pricing-table">
          <div class="pricing-table-heading">
            <%= image_tag("companies/plan-pyme.png", class: "img-fluid center-block", alt: "Plan Pyme") %>
            <h4 class="pricing-table-title">Pyme</h4>
          </div>
          <div class="pricing-table-item hidden-md-down">
            <h4 class="h6 text-xs-center text-bold text-uppercase text-hide">Características</h4>
            <ul class="pricing-table-list">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <p class="h6 text-bold text-uppercase m-t-md">Valor</p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Pago por anuncio</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>1</li>
              <li>45 días</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>No</li>
            </ul>
            <p class="m-b-0 small">Práctica: <span class="text-bold">CLP $50.000</span></p>
            <p class="small">Trabajo: <span class="text-bold">CLP $60.000</span></p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Plan Anual</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>Ilimitadas</li>
              <li>1 año</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>Sí</li>
            </ul>
            <p class="h6 text-bold m-t-md">25 UF</p>
          </div>
        </article>
        <article class="pricing-table">
          <div class="pricing-table-heading">
            <%= image_tag("companies/plan-enterprise.png", class: "img-fluid center-block", alt: "Plan Grandes Empresas") %>
            <h4 class="pricing-table-title">Grandes Empresas</h4>
          </div>
          <div class="pricing-table-item hidden-md-down">
            <h4 class="h6 text-xs-center text-bold text-uppercase text-hide">Características</h4>
            <ul class="pricing-table-list">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <p class="h6 text-bold text-uppercase m-t-md">Valor</p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Plan Anual</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>Ilimitadas</li>
              <li>1 año</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>Sí</li>
            </ul>
            <p class="h6 text-bold m-t-md">Desde 25 UF</p>
          </div>
        </article>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="colombia">
        <p class="text-xs-center text-primary font-weight-normal">Todos los precios incluyen IVA</p>
        <article class="pricing-table">
          <div class="pricing-table-heading">
            <%= image_tag("companies/plan-startup.png", class: "img-fluid center-block", alt: "Plan Startup") %>
            <h4 class="pricing-table-title">Startup</h4>
          </div>
          <div class="pricing-table-item hidden-md-down">
            <h4 class="h6 text-xs-center text-bold text-uppercase text-hide">Características</h4>
            <ul class="pricing-table-list">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <p class="h6 text-bold text-uppercase m-t-md">Valor</p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Pago por anuncio</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>1</li>
              <li>45 días</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>No</li>
            </ul>
            <p class="m-b-0 small">Práctica: <span class="text-bold">COP $100.000</span></p>
            <p class="small">Trabajo: <span class="text-bold">COP $150.000</span></p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Plan Anual</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>Ilimitadas</li>
              <li>1 año</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>No</li>
            </ul>
            <p class="h6 text-bold m-t-md">COP $350.000</p>
          </div>
        </article>
        <article class="pricing-table">
          <div class="pricing-table-heading">
            <%= image_tag("companies/plan-pyme.png", class: "img-fluid center-block", alt: "Plan Pyme") %>
            <h4 class="pricing-table-title">Pyme</h4>
          </div>
          <div class="pricing-table-item hidden-md-down">
            <h4 class="h6 text-xs-center text-bold text-uppercase text-hide">Características</h4>
            <ul class="pricing-table-list">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <p class="h6 text-bold text-uppercase m-t-md">Valor</p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Pago por anuncio</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>1</li>
              <li>45 días</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>No</li>
            </ul>
            <p class="m-b-0 small">Práctica: <span class="text-bold">COP $150.000</span></p>
            <p class="small">Trabajo: <span class="text-bold">COP $200.000</span></p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Plan Anual</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>Ilimitadas</li>
              <li>1 año</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>Sí</li>
            </ul>
            <p class="h6 text-bold m-t-md">COP $700.000</p>
          </div>
        </article>
        <article class="pricing-table">
          <div class="pricing-table-heading">
            <%= image_tag("companies/plan-enterprise.png", class: "img-fluid center-block", alt: "Plan Grandes Empresas") %>
            <h4 class="pricing-table-title">Grandes Empresas</h4>
          </div>
          <div class="pricing-table-item hidden-md-down">
            <h4 class="h6 text-xs-center text-bold text-uppercase text-hide">Características</h4>
            <ul class="pricing-table-list">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <p class="h6 text-bold text-uppercase m-t-md">Valor</p>
          </div>
          <div class="pricing-table-item text-xs-center">
            <h4 class="h6 text-bold text-uppercase">Plan Anual</h4>
            <ul class="pricing-table-list text-xs-left hidden-lg-up">
              <li>Publicaciones</li>
              <li>Duración</li>
              <li>CV Postulantes</li>
              <li>Video Entrevista</li>
              <li>Difusión Redes Sociales</li>
              <li>Account Manager</li>
            </ul>
            <ul class="pricing-table-list text-xs-right text-lg-center">
              <li>Ilimitadas</li>
              <li>1 año</li>
              <li>Ilimitados</li>
              <li>Sí</li>
              <li>Sí</li>
              <li>Sí</li>
            </ul>
            <p class="h6 text-bold m-t-md">Desde COP $1.000.000</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
