<header class="page-header" data-js="header" data-current-menu="menu-products">
  <div class="u-vertical-center">
    <div class="page-header-content">
      <div class="container">
        <div class="text-xs-center">
          <h2 class="heading-title m-b-2">Productos</h2>
          <p class="heading-description">Apoyamos a la empresas a reclutar, atraer y retener a los <strong>millennials</strong> (generación Y) con soluciones tecnológicas y de consultoría.</p>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="products">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6" data-background="p-firstjob">
        <article class="product-box text-xs-center text-lg-left">
          <div class="u-vertical-center">
            <div class="row">
              <div class="col-lg-9 col-lg-offset-2 col-xl-6 col-xl-offset-4">
                <h3><%= image_tag("companies/product-firstjob.png", class: "product-image img-fluid", alt: "FirstJob") %></h3>
                <p>Encuentra estudiantes y titulados, de cero a dos años de experiencia, potenciando tu marca de empleador.</p>
                <a class="btn btn-secondary-outline" href="<%= root_companies_path %>">Ver más</a>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-6" data-background="p-zafirus">
        <article class="product-box text-xs-center text-lg-left">
          <div class="u-vertical-center">
            <div class="row">
              <div class="col-lg-9 col-lg-offset-2 col-xl-6 col-xl-offset-2">
                <h3><%= image_tag("companies/product-zafirus.png", class: "product-image img-fluid", alt: "Zafirus") %></h3>
                <p>Moderniza tus procesos de selección y olvídate de las planillas de cálculo.</p>
                <a class="btn btn-secondary-outline" href="http://www.zafirus.com" target="_blank">Ver más</a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" data-background="p-bestfirstjob">
        <article class="product-box text-xs-center text-lg-left">
          <div class="u-vertical-center">
            <div class="row">
              <div class="col-lg-9 col-lg-offset-2 col-xl-6 col-xl-offset-4">
                <h3><%= image_tag("companies/product-best-firstjob-employers.png", class: "product-image img-fluid", alt: "Best FirstJob Employers") %></h3>
                <p>Las mejores empresas para los Jóvenes Profesionales según sus propios colaboradores.</p>
                <a class="btn btn-secondary-outline" href="http://www.bestfirstjobemployers.com" target="_blank">Ver más</a>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-6" data-background="p-employer-branding">
        <article class="product-box text-xs-center text-lg-left">
          <div class="u-vertical-center">
            <div class="row">
              <div class="col-lg-9 col-lg-offset-2 col-xl-6 col-xl-offset-2">
                <h3><%= image_tag("companies/product-employer-branding.png", class: "product-image img-fluid", alt: "Employer Branding") %></h3>
                <p>Mejora tu marca de empleador aumentando tu posicionamiento en el segmento de estudiantes y jóvenes profesionales.</p>
                <a class="btn btn-secondary-outline" href="<%= employer_branding_path %>">Ver más</a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>