<section class="primary-box u-table u-full-height" data-background="publish" data-js="header-fixed">
  <div class="u-vertical-center">
    <div class="container-fluid">
      <form action="<%= post_requests_path %>" method="post" data-remote="true" id="publish_form">
        <h1 class="heading-title text-xs-center m-b-1">Publica un trabajo</h1>
        <p class="text-xs-center">* Los precios serán confirmados cuando nuestro equipo se contacte contigo</p>
        <p class="text-xs-center m-b-3">
          <a href="<%= home_plans_path %>" class="btn btn-primary-outline btn-pill btn-sm">Conoce nuestros precios</a>
        </p>
        <input type="hidden" value="0" name="post_request[maximum_salary_offered]">
        <input name="post_request[show_salary]" type="hidden" value="0">
        <input type="hidden" name="post_request[description]" value="Formulario Companies">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-2">
            <div class="form-horizontal">
              <p>¿Qué tipo de empresa eres?</p>
              <div class="btn-group m-b-2" data-toggle="buttons">
                <label class="btn btn-inverted-primary" for="company_1">
                  <input type="radio" name="post_request[company_type]" id="company_1" autocomplete="off" value="1" required> Startup
                </label>
                <label class="btn btn-inverted-primary" for="company_2">
                  <input type="radio" name="post_request[company_type]" id="company_2"  autocomplete="off" value="2"> Pyme
                </label>
                <label class="btn btn-inverted-primary" for="company_3">
                  <input type="radio" name="post_request[company_type]" id="company_3"  autocomplete="off" value="3"> Gran Empresa
                </label>
              </div>
              <p>¿Qué deseas publicar?</p>
              <div class="btn-group m-b-2" data-toggle="buttons">
                <label class="btn btn-inverted-primary">
                  <input type="radio" name="post_request[looking_for]" autocomplete="off" value="1" required> Práctica
                </label>
                <label class="btn btn-inverted-primary">
                  <input type="radio" name="post_request[looking_for]" autocomplete="off" value="3" required> Trabajo
                </label>
              </div>
              <div class="form-group">
                <label for="">Vacantes</label>
                <div class="row">
                  <div class="col-md-8">
                    <input type="number" class="form-control" name="post_request[vacancies]" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">País</label>
                <input type="text" class="form-control" name="post_request[location]" required>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
            <div class="form-group">
              <label for="">Nombre</label>
              <input type="text" class="form-control" name="post_request[name]" required>
            </div>
            <div class="form-group">
              <label for="">Correo electrónico</label><input type="email" class="form-control" name="post_request[email]" required>
            </div>
            <div class="form-group">
              <label for="">Teléfono</label><input type="text" class="form-control" name="post_request[phone]" required>
            </div>
            <div class="form-group">
              <label for="">Empresa</label><input type="text" class="form-control" name="post_request[company_name]" required>
            </div>
            <div class="form-group">
              <label for="">Tu cargo en la empresa</label><input type="text" class="form-control" name="post_request[position]" required>
            </div>
            <div class="form-group text-xs-right">
              <button class="btn btn-primary disable-after-click" type="submit">Enviar</button>
            </div>
          </div>
        </div>
      </form>
      <p id="publish_ok_message" class="heading-title brand-color text-xs-center" style="display:none;">Una persona de nuestro equipo se contactará a la brevedad para coordinar la publicación</p>
    </div>
  </div>
</section>
