<br><br><br>
  <div class="row text-center">
  <form action="<%= set_company_for_kam_path %>" method="post">
    <%= token_tag %>
    <select name="current_company_id">
      <option value="">--- Ninguna ---</option>
      <% @companies.each do |company| %>
      <option value="<%= company.id %>"><%= company.name %></option>
      <% end %>
    </select>
    <button>Seleccionar empresa</button>
  </form>
</div>