@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "pace";
@import "colors";
@import "animate";
@import "fj";
@import "select2";
@import "select2-bootstrap";
@import "sweetalert2";

/* Estilos Principales Plataforma Cliente First Job */
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,400italic,300);

html{
  font-size: 10px;
}


body {
  font-family: 'Lato', sans-serif;
  background-color: #4B4A80;
  padding-top: 51px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:focus, a:hover {
  color: #fff;
}

.nomargin{
  margin: 0px;
}

/*Botones*/


.btn-success {
  color: #fff;
  background-color: #39AA39;
  border-color: #39AA39;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #39AA39;
  border-color: #39AA39;
}

.btn-success:hover {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-image: none;
}

.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-danger {
  color: #fff;
  background-color: #c03f3f;
  border-color: #c03f3f;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #c03f3f;
  border-color: #c03f3f;
}

.btn-danger:hover {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-image: none;
}

.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-primary {
  color: #fff;
  background-color: #20a9b7;
  border-color: #20a9b7;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #20a9b7;
  border-color: #20a9b7;
}

.btn-primary:hover {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-warning {
  color: #fff;
  background-color: #eaae2a;
  border-color: #eaae2a;
}

.btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background-color: #eaae2a;
  border-color: #eaae2a;
}

.btn-warning:hover {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}

.btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-default {
  color: #727272;
  background-color: #fff;
  border-color: #000;
}

/*
.btn-default:focus, .btn-default.focus {
  color: #727272;
  background-color: #fff;
  border-color: #000;
}*/

.btn-default:hover {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
}

/* .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #E1705B;
  border-color: #E1705B;
} */

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-image: none;
}

/* .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
} */



.space-10{
  height:10px;
}
.space-20{
  height:20px;
}
.space-30{
  height:30px;
}
.space-40{
  height:40px;
}
.space-50{
  height:50px;
}
.space-60{
  height:60px;
}
.space-70{
  height:70px;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 760px;
  background-color: #fff;
}

@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 170px;
    border-left: 1px solid #e7e7e7;
  }
}

.center-columnas{
  float: none;
}

.page-header {
  padding-bottom: 9px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #eee;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.navbar-default {
  background-color: #3E3D68;
  border-color: #3E3D68;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li {
  /*border-bottom: 1px solid #E1705B;*/
  font-weight: 300;
}

.sidebar ul li a.active {
  background-color: #E1705B;
}

.sidebar ul li a:hover {
  background-color: #E1705B;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 170px;
    margin-top: 51px;
    background: #4B4A80;
    border-color: #4B4A80;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.col-process-menu{
  position: relative;
  padding-left:  0px;
  padding-right: 0px;
  background: #F2F2F2;
  height: 53px;
  border-color: #F2F2F2;
  border-radius: 0px !important;
  /*box-shadow: 1px .5px 10px #000; */
}

.process-menu{
  height: 53px; 
}

.navbar {
  border-radius: 4px;
}

.process-nav>li>a {
  position: relative;
  display: block;
  padding: 15px 15px;
  border-radius: 0px;
  color: #4B4A80;
  text-decoration: none;
  font-weight: 700;
}

.process-nav>li>a:focus, .process-nav>li>a:hover {
  text-decoration: none;
  border-bottom: 3px solid #E1705B;
}

.nav-tabs.nav-justified>li>a {
  border-radius: 0px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border-bottom: 3px solid #E1705B;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  cursor: default;
  border-bottom: 3px solid #E1705B;
  border-bottom-color: #F2F2F2;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: -0px;
}

.justificado{
  display: table-cell;
  float: none;
  width: 20%;
  border-radius: 0px;
  background-color: #eee;
  color: #727272;;
}

.justificado .btn-default:hover{
  color: #fff;
  background-color: #E1705B;
}

.justificado .btn-default>a{
  color: #fff;
}

.justificado .btn-default>a:hover{
  color: #fff;
  text-decoration: none;
}

.btn-default {
  border-color: transparent;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: 0 0;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee!important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.panel {
  margin-bottom: 8px;
  border-radius: 0px;
  border: 1px solid #000;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-left: 2px;
}

.panel-footer {
  padding: 0;
  border-top: 0px solid #ddd;
  border-bottom: 1px solid white;
}

.panel-blue {
  border-color: #79B6EA;
  border-left: 7px solid #79B6EA;
}

.panel-blue .panel-heading {
  border-color: #79B6EA;
  color: #727272;
  background-color: #fff;
}

.panel-blue a {
  color: #727272;
}

.panel-blue a:hover {
  color: #E1705B;
}


/*Filtros*/

.reset-display{
  display: block;
}

.reset-display-filters{
  display: inline-block;
}

/*Panel Procesos*/

.process-buttons{
  padding-left: .5px;
  padding-top: .8em;
  button:hover{
    background:transparent;
    border:1px solid #fff;
  }

  .fa-play.disabled:hover, .fa-pause.disabled:hover, .fa-times.disabled:hover, .fa-rotate-left.disabled:hover{
    color: #ccc !important;
  }
  .fa-play:hover{
    color: #88D38B !important;
  }
  .fa-pause:hover{
    color:#3E3D68 !important;
  }
  .fa-times:hover{
    color: #FF0000 !important;
  }
  .fa-rotate-left:hover{
    color:#E1705B !important;
  }
  .btn {
    background:transparent;
    padding: 4px 4px;
  }
  .change-job-state{
    .pause {
      color: #3E3D68 !important;
    }
    .play{
      color: #88D38B !important;
    }
    .end{
      color:#FF0000 !important;
    }
   }
}

@media(max-width:1024px) {

  .process-buttons>.btn{
    padding: 4px 2px;
  }

  .process-buttons>.btn>i{
    padding: 0px;
    font-size: 13px !important;
  }
}

.process-buttons>.btn>i{
  padding: 0px 1px;
  font-size: 20px;
}

.process-job-badge{
  font-size: 1em;
}

@media(max-width:1024px) {

  .process-job{
    font-weight: 400;
    font-size: 1.2rem !important;
  }
}

.process-job{
  font-weight: 700;
  font-size: 1.4rem;
}

.process-map{
  font-weight: 400;
  font-style: italic;
}

.panel-process .panel-heading {
  border-color: #79B6EA;
  color: #727272;
  background-color: #000;
}

.badge {
  background-color: transparent;
  font-weight:400;
}

.label-match {
  background-color: #88D38B;
}

.label-nuevos {
  background-color: #3E3D68;
}

.label-totales {
  background-color: #E1705B;
}

.process-title{
  height: 3em;
  background: #4B4A80;
  padding: 10px 15px;
  margin-left: 15px;
  margin-right: 0;
  color: #fff;
  font-weight: 700;
}

.process-reset-padding{
  padding-top: .8em;
  padding-right: .5em;
}


.facebook-sharing{
  background-color: #3b5998;
  color: #fff;
  @media (max-width: 1280px) {
    font-size: 1.2rem;
    padding-bottom:1%;
  }
  i{
    margin-right:7px;
  }
}

.linkedin-sharing{
  background-color: #007bb5;
  color: #fff;
  @media (max-width: 1280px) {
    font-size: 1.2rem;
    padding-bottom:1%;
  }
  i{
    margin-right:7px;
  }
}

.button-play{
  color: #88D38B;
}

.button-pause{
  color: #3E3D68;
}

.button-times{
  color: #FF0000;
}

.button-rotate-left{
  color: #E1705B;
}

.border-filter {
  border-color: #B1B1B1;
}

.padding-icon{
  padding-right: 3px;
}

/*DETALLE PROCESO*/
.breadcrumb{
  border-radius: 0px;
  padding: 5px 10px;
  margin-bottom: 15px;
  background-color: transparent;
}

.breadcrumb>span{
  color: #E1705B;
  font-size: 16px;
}

.breadcrumb>.active{
  color: #E1705B;
}

.breadcrumb>li>a{
  color: #3E3D68;
}

.margin-bread{
  margin-right: 5px;
}

.margin-datos{
  margin-right: 25px;
}

.button-candidato{
  padding-top: 20px;
}

.reset-padding{
  padding-left: 0px;
}

.reset-padding-right{
  padding-right: 0px;
}

.buttons-width{
  width: 100%
}




/*Estilos Paneles en Detalle*/


.btn-information {
  display: table-cell;
  float: none;
  width: 20%;
  border-radius: 0px;
  background-color: #3e3d68;
  color: #eaae2a !important;
  font-size: 20px;
}
.btn-information:focus{
  outline: none;
}
button[aria-expanded="true"].btn-information{
  background-color: #e1705b;
  color: white !important;
}

.panel-complete {
  margin-bottom: 0px;
  border-radius: 0px;
  border: 1px solid #000;
}

.panel-complete-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-complete-footer {
  padding: 0;
  border-top: 0px solid #ddd;
}

.panel-blue-complete {
  border-color: #3E3D68;
}

.panel-blue-complete .panel-complete-heading {
  border-color: #3E3D68;
  color: #727272;
  background-color: #fff;
}

.justificado-complete{
  float: none;
  display: flex;
  border-radius: 0px; 
  color: #fff;
  background-color: #3E3D68;
  padding-left: 0px;
  padding-right: 0px;
  height: 50px;
}

.justificado-complete-footer{
  display: table-cell;
  float: none;
  width: 20%;
  border-radius: 0px; 
  background-color: #3E3D68;
  color: #9f9eb4;
  font-weight: 700;
}

.justificado-complete>.btn:hover{
  color: #fff !important;
  background-color: #E1705B !important;
  border-color: #E1705B;
}

.justificado-complete-footer:focus{
  color: #9f9eb4;
  outline: none;
}


.justificado-complete-footer .fa{
  padding-right:4%;
}

.panel-body-padding{
  padding-bottom: 15px;
}

.body-title{
  font-weight: 900;
  color: #727272;
}

.format-panel-heading{
  height: 70px;
}

.format-labels{
  padding-left: 45px;
  padding-top:5px;
  padding-bottom:5px;
}

.format-titles{
  background-color: #f9f9f9;
}

.star-padding{
  padding-right: 10px;
  padding-left: 10px;
  color: #eaae2a;
  font-weight: 900;
}

.match-padding{
  color: #39aa39;
  font-weight: 900;
}


.label-referido {
  background-color: #3d3e68;
}

.label-agregado {
  background-color: #39AA39;
}

.label-sugerido {
  background-color: #E1705B;
}

.plus-font{
  font-weight: 700;
}

.fix-check{
  width: 2%;
}

.vdivide:after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:15px;
  bottom: 0;
  right: 0;
  max-height: 30px;
}

.vdivide2 [class*='btn']:not(:last-child):after {
  background: #9f9eb4;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:20px;
  bottom: 0;
  right: 0;
  max-height: 10px;
}

.btn-disabled{
}

.btn-disabled:hover{
  background-color: #3e3d68 ;
}
.btn-like-format{
  width: 10%;
}

.btn-like .fa-lg, .btn-play .fa-lg{
  padding-bottom: 10px;
}
.btn-like {
  color: #727272;
  background-color: transparent;
}

.btn-like:focus{
  color: #E1705B;
  border-color: transparent;
}

.btn-like:hover {
  color: #E1705B;
  border-color: transparent;
}

.btn-play {
  color: #3d3e68;
  background-color: transparent;
}

.btn-play:focus{
  color: #E1705B;
  background-color: transparent;
  border-color: transparent;
}

.btn-play:hover {
  color: #E1705B;
  background-color: transparent;
  border-color: transparent;
}

.separation{

  border-right: 1px solid #727272;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #E1705B;
}
.btn-nuevo {
  color: #333;
  background-color: #fff;
  border-color: transparent;
}

.btn-nuevo:hover {
  color: #E1705B;
}

.tag {
  padding: 5px;
  margin: 2px;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.tab-content{
  background-color: #3E3D68;
  color: #fff;

}

.label-filter {
  background-color: #686868;
}

.process-nav-collapse {
  background-color: #3E3D68;
  color: #fff;
  font-weight: 700;
}

.process-nav-collapse>li>a {
  background-color: #555478;
  color: #fff;
}

.process-nav-collapse.nav.nav-tabs.nav-justified>li>a {
  border-radius: 0px;
}

.process-nav-collapse.nav.nav-tabs.nav-justified>li>a:hover {
  background-color: #E1705B;
  color: #fff;
}

.process-nav-collapse.nav.nav-tabs.nav-justified>.active>a:hover {
  background-color: #E1705B;
  color: #fff;
}

.process-nav-collapse.nav.nav-tabs.nav-justified>.active>a {
  background-color: #4B4A80;
  color: #fff;
  border-color: 0px solid #fff;
}

/*Contenido Sección Mas Informacion*/

.padding-questions{
  padding-top: 18px;
  background: #d78272;
  color: #fff;
  border-radius: 2px;
}

.padding-questions-row{
  padding: 10px 45px;
}

.padding-comments{
  padding-top: 18px;
  background: #d78272;
  color: #fff;
  border-radius: 2px;
  padding-bottom: 10px;
  margin-bottom: 13px;
}

.padding-comments-row{
  padding: 0px 45px;
}

.padding-comments-details{
  padding-left: 10px;
  margin-top: -4px;
}

.add-comments{
  margin-bottom: 15px;
  min-height:80px;
}

.padding-process-title{
  padding-top: 20px;
  background-color: transparent;
  color: #fff;
}

.padding-process{
  padding: 10px 30px;
  background: #fff;
  color: #727272;
}

.padding-process-row{
  padding: 10px 20px;
}

.padding-process-details{
  padding-left: 10px;
}

.color-icon-match{
  color: #39AA39;
}

.color-icon-entrevistado{
  color: #39AA39;
}

.color-icon-entrevista-pendiente{
  color: #c03f3f;
}

.color-icon-contratado{
  color: #3E3D68;
}

.display-icon{
  display: block;
}


.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-comments{
  background: transparent;
  color: #fff;
  border: none;
}
p.answers{
  margin-left:3%;
}

.comments{
  margin-top:10px;
}

div[class*="pane-respuestas-"] {
  padding-top:22px;
  backgrund-color: #4d4c70;
  padding-bottom: 25px;
}

div[class*="pane-procesos-"] {
  padding-top:15px;
  backgrund-color: #4d4c70;
  padding-bottom: 25px;
}

div[class*="pane-comentarios-"] {
  padding-top:25px;
  backgrund-color: #4d4c70;
  padding-bottom: 25px;
}

$activeColor: #4b4a80;
$darkenColor: darken($activeColor,10%);

.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

  label {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #4b4a80 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      left:2px;
      top:2px;
      position: absolute;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      box-shadow: inset 0px 1px 1px #4b4a80, 0px 1px 3px rgba(0,0,0,0.5);
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.img-back{
  background: image-url("entel.jpg") no-repeat center top;
  background-size: cover;
}

/*modal agregar candidato*/

.border-buttons-yesno{
  border: 1px solid #727272;
}

/* DISEÑO FILTROS */

.well-filters {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #32313b;
  border: 1px solid #32313b;
  color: #e1703b;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* FIN DISEÑO FILTROS */

/* PUBLICAR */

.process_publish {
  .renta{
    color: #FA8134;
    top:13%;
    position: absolute;
  }
  .job_looking_for {
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      width: 33.3%;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .radio {
      margin: 0;
    }

    input[type=radio]:checked{
      background-color: #FA8134;
      color: #fff;
    }
  }

  .job_title label, .job_vacancies label, .job_location label, .string.optional.form-label, .text.optional.form-label, .select.optional.form-label {
    clear: both;
    display: block;
    color: #FA8134;
  }

  .checked {
    background-color: #FA8134;
    color: #fff;
  }

  .job_availability {
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      width: 33.3%;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .radio {
      margin: 0;
    }
  }
  .row{
    margin-top:3%;
  }

  .btn{
    background-color: #5A598A;
    color: #fff;
  }

  .btn:hover{
    background-color: #3E3D68;
  }

  textarea {
    height: 150px;
  }

  .job_show_salary{
    top:-7%;
    float: right;

    .form-label{
      color: #8E8A76;
      font-size: 1.2rem;
      font-weight: lighter;
    }

    input{
      top:-2px;
      left:6px;
    }
  }
  .job_countries{
    padding-top:2.5%;
  }
}

.basics_filter{

  h1{
    color: #A4A4BF;
    font-weight: lighter;
  }
  padding-top:3%;
  padding-left: 5%;

  .btn-default{
    background-color: #5A598A;
    color: #fff;
    &:hover{
      background-color: #3E3D68;
      border: 1px solid #3E3D68;
    }
  }
  .job_career_status {
    margin-top:3%;
    padding-bottom: 3%;
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      width: 130px;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .checkbox {
      margin: 0;
      width:25%;
    }
  }
  .job_years_experience {
    padding-bottom: 13%;
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      clear:both;
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      width: 130px;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .radio {
      margin: 0;
      width: 25%;
    }
    label:after{
      background-color: red;
    }
    span label input[type=checkbox]{
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }

  .job_age_study {
    padding-bottom: 13%;
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      clear:both;
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      width: 130px;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .radio {
      margin: 0;
      width: 10%;
    }
    label:after{
      background-color: red;
    }
    span label input[type=checkbox]{
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }

  .job_english_level {
    padding-bottom: 12%;
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      clear:both;
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      width: 130px;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .radio {
      margin: 0;
      width: 25%;
    }
  }

  .job_excel_level {
    padding-bottom: 7%;
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      clear:both;
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      width: 130px;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .radio {
      margin: 0;
      width:25%;
    }
  }
  .job_universities{
    padding-bottom: 3%;
  }

  .job_universities label, .job_careers label{
    clear: both;
    display: block;
    color: #FA8134;
  }
  .checked {
    background-color: #FA8134 !important;
    color: #fff !important;
  }


}

.advanced_filter{
  color: #635C4F;
  label{
    font-weight: 500;
  }
  h1{
    color: #A4A4BF;
  }
  padding-top:2.5%;
  padding-left: 5%;
  form{
    margin-top:2%;
  }
  .row{
    padding-bottom: 2%;
  }
  .btn-default{
    background-color: #5A598A;
    color: #fff;
    &:hover{
      background-color: #3E3D68;
      border: 1px solid #3E3D68;
    }
  }
  .title{
    font-size:2rem;
    color:#F98233;
    margin-top: 4%;
  }
  .job_filter_califications{
    .radio{
      float: left;
      width:15%;
    }
  }
}

.add_questions{
  .btn-default{
    background-color: #5A598A;
    color: #fff;
    &:hover{
      background-color: #3E3D68;
      border: 1px solid #3E3D68;
    }
  }
  h1{
    color: #A4A4BF;
    font-weight: lighter;
    margin-top: 5%;
    font-size: 3rem;
  }
  padding-top:2.5%;
  padding-left: 5%;

  form{
    margin-top:5%;
    .form-group input{
      -webkit-border-radius:0;
      -moz-border-radius:0;
      border-radius: 0;
    }
  }
  .btn-agregar{
    background-color: #FA8134;
    color: #fff;
    -webkit-border-radius:0;
    -moz-border-radius:0 ;
    border-radius: 0;
    margin:0;
    &:hover{
      background-color: #E6742D;
    }
  }
  .questions{
    margin-top:3%;
    .update-question{
      background:transparent;
      padding:0;
    }
    i {
      margin-right:4%;
    }
    .delete-question{
      background:transparent;
      padding: 0;
    }
  }
}

.job_preview{
  padding-top:3%;
  .container {
    background-color: rgba(213, 212, 222, 0.3);
    border-radius: 8px;
  }
  h1 {
    margin-top: 3%;
    color: #4A4980;
    font-weight: lighter;
    font-size: 2.5rem;
  }
  .job-title{
    color: #fff;
  }
  .button-color:hover{
    color: #FA8134;
  }
  .btn-default{
    background-color: #5A598A;
    color: #fff;
    &:hover{
      background-color: #3E3D68;
      border: 1px solid #3E3D68;
    }
  }
}
.finish-publish{
  padding-top: 7%;
  .fa-stack-1x, .fa-stack-2x, .fa-square-o{
    color: #f96d13;
    font-weight: lighter;
  }
  .title{
    color: #f96d13;
  }
  .subtitle{
    margin-top:2%;
    color: grey;
  }
  .fa-stack-1x{
    line-height: 1.8em;
  }

  .shares{
    margin-top:1%;
    .btn-fb{
      background-color: #3A5795;
      border: 1px solid #3E3D68;
      border-radius:5px;
      padding-top:10px;
      padding-bottom: 10px;
      padding-right:10px;
      padding-left: 10px;
      color: #fff;
      i{
        margin-right: 8px;
        font-size: 1.7em;
      }

      vertical-align: middle;

      &:hover{
        background-color: #2a4a8c;
      }
    }
    .btn-linkedin{
      margin-left:20px;
      background-color: #0274B3;
      border: 1px solid #0274B3;
      border-radius:5px;
      padding-top:10px;
      padding-bottom: 10px;
      padding-right:10px;
      padding-left: 10px;
      color: #fff;
      vertical-align: middle;
      i{
        margin-right: 8px;
        font-size: 1.7em;
      }
      &:hover{
        background-color: #036296;
      }
    }
  }

  .go-process{
    margin-top:8%;
    margin-left:1%;

    a{
      border-radius: 5px;
      padding-top: 10px ;
      padding-bottom: 10px;
      color: #fff;
      background-color: #f96d13;
      border: 1px solid #f96d13;
      &:hover{
        background-color: #f75e00 ;
      }
    }
  }
}
/* pruebaaa */

.job-details {
  padding-top: .5rem;
  padding-bottom: 4.375rem;
  background: #d7d7dd;
}

.job-details-box {
  background: #fff;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.125);
  overflow: hidden;
}

.job-column-left {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

.job-column-right {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

@media (min-width: 1200px) {
  .job-column-left {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
  }
  .job-column-right {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 75%;
  }
}

.job-column-footer {
  width: 100%;
  float: left;
  font-family: 'Lato', sans-serif;
}

.job-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.job-header::after {
  content: "";
  display: table;
  clear: both;
}

.job-cover {
  background: url("https://firstjob.me/assets/bg_new-e2c7819eb09e90e249e66d9adfd423b2.png");
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.job-cover:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -15.25rem 5rem -0.625rem rgba(0, 0, 0, 0.5);
  z-index: 0;
}

@media (min-width: 768px) {
  .job-cover {
    min-height: 29.8rem;
    background-position: left center;
  }
  .job-cover:before {
    box-shadow: inset 0 -11.25rem 5rem -1.875rem rgba(0, 0, 0, 0.5);
  }
}

.job-cover-content {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 1.875rem;
  padding-right: 0.9375rem;
  padding-left: 2.5rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .job-cover-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.job-title {
  margin-bottom: 1.25rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
  text-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

@media (min-width: 768px) {
  .job-title {
    font-size: 1.875rem;
  }
}

.job-tag {
  border-radius: 3.125rem;
  padding: 0.1rem 0.9rem;
  font-size: 0.75rem;
  display: table-cell;
}

.job-tag-info {
  background: #1eb5e7;
  color: #fff;
}

.tag-move{
  display: inline;
  vertical-align: middle;
}

.job-tag-status {
  padding-top: 0.36rem;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 0.75rem;
}

.job-tag-favorito {
  background: #E7C71E;
  color: #fff;
}

.job-tag-descartado {
  background: #E73C1E;
  color: #fff;
}

.job-info-box {
  margin-top: 1.875rem;
  margin-left: -2.5rem;
  margin-right: -0.9375rem;
  background: #d7d7dd;
}

@media (min-width: 768px) {
  .job-info {
    display: table;
    width: 100%;
    height: 70px;
    table-layout: fixed;
    margin:0;
  }
}

.job-info-item {
  display: block;
}

@media (max-width: 768px) {
  .display-resp{
    display: none;
  }
}

@media (min-width: 768px) {
  .job-info-item {
    display: table-cell;
    color: #646576;
    font-size: 1.2rem;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
  }
  .job-info-item:not(:last-child) {
    display: table-cell;
  }
}

.job-info-button {
  display: block;
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 70px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 768px) {
  .job-info-button {
  }
}

.job-info-button.--primary {
  background: #FF715A;
  color: #fff;
}

.job-info-button.--primary:link {
  color: #fff;
}

.job-info-button.--primary:visited {
  color: #f2f2f2;
}

.job-info-button.--primary:hover, .job-info-button.--primary:active, .job-info-button.--primary:focus {
  color: #fff;
}

.job-info-button.--primary:hover, .job-info-button.--primary:focus {
  background: #ff4527;
}

.job-info-button.--secondary {
  background: #1eb5e7;
  color: #fff;
}

.job-info-button.--secondary:link {
  color: #fff;
}

.job-info-button.--secondary:visited {
  color: #f2f2f2;
}

.job-info-button.--secondary:hover, .job-info-button.--secondary:active, .job-info-button.--secondary:focus {
  color: #fff;
}

.job-info-button.--secondary:hover, .job-info-button.--secondary:focus {
  background: #1494be;
}

.job-company {
  display: table;
  width: 100%;
}

@media (min-width: 1200px) {
  .job-company {
    height: 24.375rem;
  }
}

.job-company-content::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1200px) {
  .job-company-content {
    display: table-cell;
    vertical-align: bottom;
  }
}

.job-company-info {
  width: 50%;
  float: left;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  text-align: center;
}

@media (min-width: 768px) {
  .job-company-info {
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .job-company-info {
    width: 100%;
  }
}

.job-company-logo {
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  margin-bottom: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.175);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .job-company-logo {
    width: 6.875rem;
    height: 6.875rem;
  }
}

@media (min-width: 1200px) {
  .job-company-logo {
    margin-bottom: 1.875rem;
  }
}

.job-company-title {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.job-company-text {
  font-size: 1.1rem;
  font-style: italic;
}

.job-company-rank {
  float: left;
  width: 50%;
  margin-top: 1.25rem;
  height: 7.375rem;
  vertical-align: middle;
  padding-left: 12%;
}

@media (min-width: 768px) {
  .job-company-rank {
    margin-top: 4.375rem;
  }
}

@media (min-width: 1200px) {
  .job-company-rank {
    width: 100%;
    margin-top: 0;
    background: #D7D6D6;
  }
}

.job-company-rank-item {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  text-align: center;
}

@media (min-width: 768px) {
  .job-company-rank-item {
    display: table-cell;
    vertical-align: middle;
  }
}

.job-company-rank-position {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.job-company-rank-position > :first-child {
  color: #c62750;
}

.job-company-rank-position > :last-child {
  color: #333;
}

.job-company-rank-image {
  width: auto;
  height: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.job-company-navbar {
  width: 100%;
  display: block;
  float: left;
  padding-top: 0.625rem;
  text-align: center;
}

@media (min-width: 1200px) {
  .job-company-navbar {
    padding-top: 0;
    background: #D8D8DE;
  }
}

.job-company-button {
  display: inline-block;
  border-radius: 50px;
  padding: 12px 20px;
  background: #3e3d68;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
}

.job-company-button:link {
  color: #fff;
}

.job-company-button:visited {
  color: #f2f2f2;
}

.job-company-button:hover, .job-company-button:active, .job-company-button:focus {
  color: #fff;
}

.job-company-button:hover, .job-company-button:focus {
  background: #2b2a48;
}

@media (min-width: 1200px) {
  .job-company-button {
    width: 100%;
    display: block;
    height: 65px;
    padding: 0;
    border-radius: 0;
    line-height: 70px;
  }
}

.job-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5rem;
  margin-top:2%;
}

.job-content::after {
  content: "";
  display: table;
  clear: both;
}

.job-content:first-of-type {
  padding-top: 1rem;
}

.job-content-title {
  position: relative;
  margin-bottom: 1.25rem;
  padding-left: 1.875rem;
  padding-right: 3.125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4b4a66;
  text-align: center;
  text-transform: uppercase;
}

.job-content-title:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.1875rem;
  width: 7.5rem;
  height: 0.1875rem;
  border-radius: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  background: #1eb5e7;
}

@media (min-width: 768px) {
  .job-content-title {
    padding-bottom: 0.625rem;
  }
}

@media (min-width: 1200px) {
  .job-content-title {
    text-align: right;
  }
  .job-content-title:after {
    width: 3.125rem;
    right: 3.125rem;
    left: auto;
  }
}

.job-content-text {
  font-size: 1.5rem;
  text-align:justify;
}

.job-buttons {
  margin-right: 10px;
  padding-right: 25px;
  padding-bottom: 0.5rem;
  padding-top: 1.5em;
}
.buttons-share-job {
  margin-right: 5px;
  margin-left: 5px;
  color: #343458;

}

a .buttons-share-job {

  color: #343458;
}

.phone-margin{
  padding-left: 1px;
}

.color-back{
  text-decoration: none;
}

a.color-back{
  color: #3e3d68;
}

a.color-back:hover{
  color: #FF715A;
  text-decoration: underline;
}

a.color-back:focus{
  color: #FF715A;
  text-decoration: underline;
}

.back-jobs{
  padding-bottom: 20px;
  padding-top: 20px;
}

.format-back-jobs{
  padding-top: 0px;
  padding-bottom: 50px;
}

.alert-cv{
  display: inline;
  height: 27px;
  vertical-align: middle;
  padding: 0px 7px;
  /*margin-left: 300px; */
}

.alert2{
  background-color: #FF715A;
  border-color: #FF715A;
  color: #FFFFFF;

}
.color-vinculo{
  color: #2b2a48;
}

.no-visible{
  visibility: hidden;
}

.share-box{
  padding: auto;
  width: 250px;
  height: 70px;
  background: #eee;
  border-radius: 5px;

}

.share-center{
  margin: auto;
}

.lk-share{
  color: #fff;
  background-color: #0274B3;
  border-color: #0274B3;
  margin-top: 14px;
}

.btn-secondary2:hover {
  color: #fff;
  background-color: #FF715A;
  border-color: #FF715A;
}

@media (max-width: 768px) {
  .job-content {
    margin-left: 8px;
    margin-right: 8px;
  }
}


/*
Fin de Publicar */


/* Job cards */

.panel-red {    
    //border-color: #FF0000;
    border-left: 5px solid #FF0000;
  }
  .panel-gray {
    //border-color: #eee;
    border-left: 5px solid #eee;
  }
  .panel-green {
    //border-color: #88D38B;
    border-left: 5px solid #88D38B;
  }
  .panel-orange {
    //border-color: #E1705B;
    border-left: 5px solid #E1705B;
  }


/* end jobs cards */

/* Sweet alert reconstructor */
.swal-edit-comment{
  width:580px !important;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;

  h2{
    color: #A4A4BF;
    font-weight: 400;
    margin-top: 2%;
    font-size: 3rem;
  }
  input{
    margin-top:30px;
  }
  .swal2-content{
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.swal-edit-question{
  width:580px !important;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;

  h2{
    color: #A4A4BF;
    font-weight: 400;
    margin-top: 2%;
    font-size: 3rem;
  }
  input{
    margin-top:30px;
  }
  .swal2-content{
    font-size: 1.5rem;
    font-weight: bold;
  }
}


.swal-delete-question{
  width: auto !important;
}
.swal-close-process{
  width:580px !important;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;

  h2{
    color: #A4A4BF;
    font-weight: 400;
    margin-top: 2%;
    font-size: 3rem;
  }
  input{
    margin-top:30px;
  }
  .swal2-content{
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/* end sweet alert reconstructor */


/* CARD PROCESS */
.request_applicants{
  height: auto;
  padding-bottom: 1%;
  h4{
    margin-top:2%;
    color:#737373;
  }
  textarea {
    margin-top: 1%;
  }
}
.btn.btn-default.justificado[aria-expanded="true"]{
  background-color: #E1705B;
  color: #fff;
}
.btn.justificado.disabled[aria-controls="VerCandidatos"]{
  background-color:#eee;
  color: #727272;
  cursor: not-allowed;
  border: 1px solid transparent;
}
.btn.justificado.disabled.vercandidato{
  background-color:#eee;
  color: #727272;
  cursor: not-allowed;
  pointer-events: inherit;
  border: 1px solid transparent;
}

.btn.btn-default.justificado.disabled.editar{
  background-color:#eee;
  color: #727272;
  cursor: not-allowed;
  pointer-events: inherit;
  border: 1px solid transparent;
}

/* FIN CARD PROCESS */

/* Search Tab */
.search{
  h1{
    margin-bottom:5%;
  }
  label.optional {
    text-transform: uppercase;
    display: block;
    color: #FA8134;
  }
  .choose_bd {
    span {
      display: inline-block;
      color: #8E8A76;
    }

    span {
      float: left;
      width: 50%;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .radio {
      margin: 0;
    }

    input[type=radio]:checked{
      background-color: #FA8134;
      color: #fff;
    }
  }
  .job_looking_for {
    padding-bottom: 3%;
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .checkbox {
      margin: 0;
      width:33.3%;
    }
  }
  .job_career_status {
    padding-bottom: 3%;
    span {
      display: inline-block;
      color: #8E8A76;
    }

    label.optional {
      display: block;
      color: #FA8134;
    }

    span {
      float: left;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .checkbox {
      margin: 0;
      width:33.3%;
    }
  }
  .checked {
    background-color: #FA8134 !important;
    color: #fff !important;
  }
  .english_level , .excel_level{
    padding-bottom: 3%;
    span {
      display: inline-block;
      color: #8E8A76;
    }

    span {
      float: left;
      width: 25%;
      margin: 4px;
      background-color: #fff;
      border: 1px solid #D5D4DE;
      overflow: auto;
    }

    span label {
      text-align: center;
      font-size: 12px;
      padding: 8px 0px;
      display: block;
    }

    span label input {
      position: absolute;
      top: -20px;
    }

    .radio {
      margin: 0;
    }

    input[type=radio]:checked{
      background-color: #FA8134;
      color: #fff;
    }
  }
  .select2-container--bootstrap{
    width:100% !important;
  }
  .btn{
    margin-top:4%;
    background-color: #5A598A;
    color: #fff;
  }

  .btn:hover{
    background-color: #3E3D68;
  }
}
/* Fin Search Tab */