[data-current-value="1"]{
  color: #E1705B!important;
  background-color: transparent ;
  border-color: transparent ;
}


.button-gray{
  color: #ccc!important;
}

.row{
  margin-right: 0;
}

.col-md-12{
  padding-right: 0;
}