<div class="control-group">
  <div class="controls">
    <%= image_tag @user.account.avatar_url(:big_thumb), style: "margin-left: 265px" %>
  </div>
</div>
<%= f.input :avatar, as: :file %>
<%= f.input :country_id, as: :select, collection: Country.all.sort.map{ |c| [c.name.titleize, c.id] }, input_html: { style: "width: 300px" } %>
<%= f.input :principal_career_id, as: :select, collection: Career.all.sort.map{ |c| [c.name.titleize, c.id] }, input_html: { style: "width: 300px" } %>
<%= f.input :university_id, as: :select, collection: University.all.sort.map{ |u| [u.name.titleize, u.id] }, input_html: { style: "width: 300px" } %>
<%= f.input :english_level, as: :select, collection: Account::ENGLISH_LEVEL.sort.map{ |k, v| [v.titleize, k] }, input_html: { style: "width: 100px" } %>
<%= f.input :career_status, as: :select, collection: Account::CAREER_STATUS.sort.map{ |k, v| [v.titleize, k] }, input_html: { style: "width: 100px" } %>
<%= f.input :looking_for, as: :select, collection: Account::LOOKING_FOR.sort.map{ |k, v| [v.titleize, k] }, input_html: { style: "width: 100px" } %>
<%= f.input :years_experience, as: :select, :collection => [1,2,3,4,5],  input_html: {style: "width: 100px" } %>
<%= f.input :minimum_salary_expected, input_html: { style: "width: 350px" } %>
<%= f.input :email_notification, as: :select, collection: Account.email_notification %>
<%= f.input :account_state, as: :select, collection: Account::ACCOUNT_STATE.sort.map{ |k,v| [v , k] } %>
<%= f.input :count_desactivated , label: "Contador de veces desactivado" %>
<% if @user.id.nil? %>
  <%= f.input :step, :input_html => { :value => 'finished' } %>
<% else %>
  <%= f.input :step %>
<% end %>
<div class="control-group">
  <div class="controls" style="margin-left: 265px; font-weight: bold">
    <% if @user.id.present? and @user.account.resume.present? %>
      <%= link_to @user.account.resume.filename, resume_user_path(@user) %>
    <% end %>
  </div>
</div>
<%= f.input :resume, as: :file %>
<div class="control-group" style="margin-top: 30px;">
  <h3>Santander</h3>
</div>
<select id="color" name="user[account_attributes][satander_user]">
  <% ['No', 'Si'].each_with_index do |value, index| %>
    <option value="<%= index %>" <%= is_selected?(@user.account.satander_user) %> > <%= value %> </option>
  <% end %>
</select>
<%= f.semantic_fields_for :newdatauser, f.object.newdatauser || f.object.build_newdatauser do |newdatauser| %>
  <%= render "newdatauser_fields", f: newdatauser %>
<% end %>
<%= f.semantic_fields_for :excel, f.object.excel || f.object.build_excel do |excel| %>
  <%= render "excel_fields", f:excel %>
<% end %>

