<%= semantic_form_for [:admin, @user], html: { multipart: true } do |f| %>
  <%= f.inputs "User Details" do %>
    <%= f.input :first_name, input_html: { style: "width: 350px" } %>
    <%= f.input :last_name, input_html: { style: "width: 350px" } %>
    <%= f.input :email, as: :email, input_html: { style: "width: 350px" } %>
    <%= f.input :born_date, as: :date_picker, input_html: { style: "width: 150px" } %>
    <%= f.input :password, input_html: { style: "width: 350px" } %>
    <%= f.input :password_confirmation, input_html: { style: "width: 350px" } %>
    <%= f.semantic_fields_for :account, f.object.account || f.object.build_account do |account| %>
      <%= render "account_fields", f: account %>
    <% end %>
  <% end %>
  <%= f.actions %>
<% end %>
