<h1>Métricas</h1>

<p>Mis procesos (total): <%= @jobs.count %></p>
<p>Procesos sin publicar: <%= @jobs.where(state: 0).count %></p>
<p>Procesos activos: <%= @jobs.where(state: 1).count %></p>
<p>Procesos pausados: <%= @jobs.where(state: 2).count %></p>
<p>Procesos cerrados: <%= @jobs.where(state: 3).count %></p>
<p>Procesos state = nil: <%= @jobs.where(state: nil).count %></p>
<p>Postulantes: <%= @accounts.count %></p>