<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Menú Móvil</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= client_index_path %>"><img src="<%= image_url('firstjob-logo.png')%>"></a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <img src="<%= image_url('Entel-logo.png')%>" height="18px" width="28px"> 
        <%= current_company_user.email if current_company_user.present? %> 
        <% if current_company_user.present? %>
        <%= "(" + Company.find(current_company_user.current_company_id).name + ")" if current_company_user.current_company_id.present? %>
        <% end %>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <% if current_company_user.present? && current_company_user.is_kam? %>
        <li>
          <a href="<%= select_company_path %>"><i class="fa fa-university fa-fw"></i> Cambiar empresa</a>
        </li>
        <% end %>
        <li class="divider"></li>
        <li>
          <%= link_to(destroy_company_user_session_path, :method => :delete) do %>
          <i class="fa fa-key"></i>Logout</a>
          <% end %>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar navbar-static-top" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="<%= client_process_index_path %>"><i class="fa fa-archive fa-fw"></i> Procesos</a>
        </li>
        <li>
          <a href="<%= client_new_process_path %>"><i class="fa fa-cloud-upload fa-fw"></i> Publicar</a>
        </li>
        <li>
          <a href="<%= client_search_path %>"><i class="fa fa-search fa-fw"></i> Buscar</a>
        </li>
        <li>
          <a href="<%= client_interviews_path %>"><i class="fa fa-comments-o fa-fw"></i> Entrevistas</a>
        </li>
        <li>
          <a href="<%= client_insigths_path %>"><i class="fa fa-bar-chart-o fa-fw"></i> Métricas</a>
        </li>
        <li>
          <a href="<%= client_configuration_path %>"><i class="fa fa-cogs fa-fw"></i> Configuración</a>
        </li>
        <li>
          <a href="<%= select_company_path %>"><i class="fa fa-university fa-fw"></i> Cambiar empresa</a>
        </li>
        <% if user_signed_in? %>
        <li>
          <%= link_to('Logout user', destroy_user_session_path, :method => :delete) %>        
        </li>
        <% else %>
        <li>
          <%= link_to('Login user', new_user_session_path)  %>  
        </li>
        <% end %>

        <% if company_user_signed_in? %>
        <li>
          <%= link_to('Logout company', destroy_company_user_session_path, :method => :delete) %>        
        </li>
        <% else %>
        <li>
          <%= link_to('Login company', new_company_user_session_path)  %>  
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>