<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @page_title.present? ? @page_title + " - FirstJob Empresas" : "FirstJob Empresas" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Conectamos a estudiantes y titulados de cero a dos años de experiencia, con prácticas y primeros trabajos en las mejores empresas.">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,700italic,300italic,400italic,100italic,100' rel='stylesheet' type='text/css'>
  <!-- Stylesheets -->
  <%= stylesheet_link_tag  'companies' %>
  <%= javascript_include_tag 'jquery2' %>
  <%= javascript_include_tag 'jquery_ujs' %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'jquery-legacy.min'%>
  <![endif]-->
  <%= javascript_include_tag 'jquery.validate'%>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'companies', 'data-turbolinks-track' => true %>
  <!-- Meta Tags -->
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <%= render "client/company/companies_navbar" %>
  <%= yield %>
  <%= render "client/company/companies_footer" %>

</body>
</html>
